# CSMCC16 Flight Coursework

### Import packages

In [1]:
import numpy as np
import pandas as pd
import datetime
import re
from difflib import SequenceMatcher

### Import data

In [2]:
#import csv - no error was used when building initial solution
#pass_data = pd.read_csv('AComp_Passenger_data_no_error.csv',header=None)   #comment out as necessary
pass_data = pd.read_csv('AComp_Passenger_data.csv',header=None)   #comment out as necessary
pass_datet = pd.read_csv('AComp_Passenger_data_no_error_DateTime.csv',header=None)
airport_lat_lon = pd.read_csv('Top30_airports_LatLong.csv',header=None)

In [ ]:
#check data
#pass_data

In [3]:
# Create as dataframes
pass_data = pd.DataFrame(pass_data)
pass_datetime = pd.DataFrame(pass_datet)
airport_lat_lon = pd.DataFrame(airport_lat_lon)

In [4]:
# Add Column Names
pass_data.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min']
airport_lat_lon.columns = ['Airport_name'
                        ,'Airport_IATA_code'
                        ,'Latitude'
                        ,'Longitude']
pass_datetime.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Departure_date_time'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min'
                        ,'Arrive_date_time'
]

### Remove missing values

In [5]:
#Remove values where passenger id and flight id are missing
pass_data=pass_data.dropna(subset=['Flight_id','Passenger_id'])

### Additional Columns and formats

In [ ]:
#Calculate epoch Arrival Time
pass_data['Arrive_epoch'] = pass_data['Depart_time_epoch']+pass_data['Flight_time_min']*60
#Convert epoch to datetime
pass_data['Depart_time_datetime'] = pd.to_datetime(pass_data['Depart_time_epoch'],unit='s')
pass_data['Arrive_time_datetime'] = pd.to_datetime(pass_data['Arrive_epoch'],unit='s')

In [6]:
#def calc_arrive_time('Depart_time_epoch','Arrive_epoch','Flight_time_min'):
def calc_arrive_time(pass_data):
    pass_data['Depart_time_datetime'] = pd.to_datetime(pass_data['Depart_time_epoch'],unit='s')
    pass_data['Arrive_epoch'] = pass_data['Depart_time_epoch']+pass_data['Flight_time_min']*60
    pass_data['Arrive_time_datetime'] = pd.to_datetime(pass_data['Arrive_epoch'],unit='s')

In [7]:
#create route as unique id
def route(df):
    df['Route'] = df['From_airport_IATA']+'-' + df['Dest_airport_IATA']+'-' + df['Depart_time']

In [ ]:
route(flight_only_data)

In [ ]:
flight_only_data

In [10]:
calc_arrive_time(pass_data)

In [ ]:
pass_data

In [ ]:
#And new datetime formats
pass_data['Depart_day_month']=pass_data['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y")
#pass_data_df['Depart_day_datetime']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y %H:%M:%S")
pass_data['Depart_time']=pass_data['Depart_time_datetime'].dt.strftime("%H:%M:%S")
pass_data['Arrive_time']=pass_data['Arrive_time_datetime'].dt.strftime("%H:%M:%S")

In [45]:
#And new datetime formats
def add_times(df):
    df['Depart_day_month']=df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y")
    #df['Depart_day_datetime']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y %H:%M:%S")
    df['Depart_time']=df['Depart_time_datetime'].dt.strftime("%H:%M:%S")
    df['Arrive_time']=df['Arrive_time_datetime'].dt.strftime("%H:%M:%S")
    df['Depart_day_month']=df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y")
    #pass_data_df['Depart_day_datetime']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y %H:%M:%S")
    df['Depart_time']=df['Depart_time_datetime'].dt.strftime("%H:%M:%S")
    df['Arrive_time']=df['Arrive_time_datetime'].dt.strftime("%H:%M:%S")

In [46]:
add_times(pass_data)

In [ ]:
#Add column to allow counting of passengers
pass_data['count']='1'

In [9]:
#Add column to allow counting of passengers
def add_1(df):
    df['count']='1'

In [15]:
add_1(pass_data)

In [47]:
pass_data

,Passenger_id,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_time_epoch,Flight_time_min,Depart_time_datetime,Arrive_epoch,Arrive_time_datetime,count,Depart_day_month,Depart_time,Arrive_time,Route
0,UES9151GS5,SQU6245R,DEN,FRA,1420564460,1049,2015-01-06 17:14:20,1420627400,2015-01-07 10:43:20,1,Tue 06/Jan/2015,17:14:20,10:43:20,DEN-FRA-17:14:20
1,UES9151GS5,XXQ4064B,JFK,FRA,1420563917,802,2015-01-06 17:05:17,1420612037,2015-01-07 06:27:17,1,Tue 06/Jan/2015,17:05:17,06:27:17,JFK-FRA-17:05:17
2,EZC9678QI6,SOH3431A,ORD,MIA,1420563649,250,2015-01-06 17:00:49,1420578649,2015-01-06 21:10:49,1,Tue 06/Jan/2015,17:00:49,21:10:49,ORD-MIA-17:00:49
3,ONL0812DH1,SOH3431A,ORD,MIA,1420563649,250,2015-01-06 17:00:49,1420578649,2015-01-06 21:10:49,1,Tue 06/Jan/2015,17:00:49,21:10:49,ORD-MIA-17:00:49
4,CYJ0225CH1,PME8178S,DEN,PEK,1420564409,1322,2015-01-06 17:13:29,1420643729,2015-01-07 15:15:29,1,Tue 06/Jan/2015,17:13:29,15:15:29,DEN-PEK-17:13:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,BWI0520BG6,BER7172M,KUL,LAS,1420565167,1848,2015-01-06 17:26:07,1420676047,2015-01-08 00:14:07,1,Tue 06/Jan/2015,17:26:07,00:14:07,KUL-LAS-17:26:07
505,LLZ3798PE3,EWH6301Y,CAN,DFW,1420564967,1683,2015-01-06 17:22:47,1420665947,2015-01-07 21:25:47,1,Tue 06/Jan/2015,17:22:47,21:25:47,CAN-DFW-17:22:47
506,KKP5277HZ7,KJR6646J,IAH,BKK,1420565203,1928,2015-01-06 17:26:43,1420680883,2015-01-08 01:34:43,1,Tue 06/Jan/2015,17:26:43,01:34:43,IAH-BKK-17:26:43
507,JJM4724RF7,XXQ4064B,JFK,FRA,1420563917,802,2015-01-06 17:05:17,1420612037,2015-01-07 06:27:17,1,Tue 06/Jan/2015,17:05:17,06:27:17,JFK-FRA-17:05:17
508,SJD8775RZ4,WSK1289Z,CLT,vEN,1420563542,278,2015-01-06 16:59:02,1420580222,2015-01-06 21:37:02,1,Tue 06/Jan/2015,16:59:02,21:37:02,CLT-vEN-16:59:02

In [75]:
route_info=pass_data[['Route'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Flight_time_min'
                      ,'Arrive_time'
                     ]]

route_info=route_info.groupby(['Route'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Flight_time_min'
                      ,'Arrive_time'          
                         ]).count()
route_info.reset_index(inplace=True)

In [76]:
route_info

,Route,From_airport_IATA,Dest_airport_IATA,Depart_day_month,Depart_time,Flight_time_min,Arrive_time
0,A;S-DEN-17:13:14,A;S,DEN,Tue 06/Jan/2015,17:13:14,1001,09:54:14
1,AM%-DEN-17:13:14,AM%,DEN,Tue 06/Jan/2015,17:13:14,1001,09:54:14
2,AMS-DEN-17:13:14,AMS,DEN,Tue 06/Jan/2015,17:13:14,1001,09:54:14
3,ATL-HKG-17:25:40,ATL,HKG,Tue 06/Jan/2015,17:25:40,1751,22:36:40
4,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18
5,BKK-MIA-17:28:50,BKK,MIA,Tue 06/Jan/2015,17:28:50,2027,03:15:50
6,BKK-MI^-17:28:50,BKK,MI^,Tue 06/Jan/2015,17:28:50,2027,03:15:50
7,CAN-DFW-17:22:47,CAN,DFW,Tue 06/Jan/2015,17:22:47,1683,21:25:47
8,CAN-DFW-17:23:03,CAN,DFW,Tue 06/Jan/2015,17:23:03,1683,21:26:03
9,CDG-LAS-17:14:58,CDG,LAS,Tue 06/Jan/2015,17:14:58,1133,12:07:58
10,CDG-vAS-17:14:58,CDG,vAS,Tue 06/Jan/2015,17:14:58,1133,12:07:58
11,CGK-DXB-17:05:58,CGK,DXB,Tue 06/Jan/2015,17:05:58,849,07:14:58
12,CGK-SFO-17:23:06,CGK,SFO,Tue 06/Jan/2015,17:23:06,1811,23:34:06
13,CLT-DEN-16:59:02,CLT,DEN,Tue 06/Jan/2015,16:59:02,278,21:37:02
14,CLT-vEN-16:59:02,CLT,vEN,Tue 06/Jan/2015,16:59:02,278,21:37:02
15,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
16,DEN-PEK-17:13:29,DEN,PEK,Tue 06/Jan/2015,17:13:29,1322,15:15:29
17,DEN-PVG-17:15:25,DEN,PVG,Tue 06/Jan/2015,17:15:25,1398,16:33:25
18,DFW-PEK-17:21:09,DFW,PEK,Tue 06/Jan/2015,17:21:09,1452,17:33:09
19,DFW-yEK-17:21:09,DFW,yEK,Tue 06/Jan/2015,17:21:09,1452,17:33:09
20,FCO-LAS-17:18:18,FCO,LAS,Tue 06/Jan/2015,17:18:18,1276,14:34:18
21,HND-CAN-16:59:29,HND,CAN,Tue 06/Jan/2015,16:59:29,374,23:13:29
22,IAH-#MS-17:12:04,IAH,#MS,Tue 06/Jan/2015,17:12:04,1044,10:36:04
23,IAH-AMS-17:12:04,IAH,AMS,Tue 06/Jan/2015,17:12:04,1044,10:36:04
24,IAH-BKK-17:26:43,IAH,BKK,Tue 06/Jan/2015,17:26:43,1928,01:34:43
25,JFK-FRA-17:05:17,JFK,FRA,Tue 06/Jan/2015,17:05:17,802,06:27:17
26,JFK-FSA-17:05:17,JFK,FSA,Tue 06/Jan/2015,17:05:17,802,06:27:17
27,KUL-LAS-17:26:07,KUL,LAS,Tue 06/Jan/2015,17:26:07,1848,00:14:07
28,KUL-PEK-17:04:16,KUL,PEK,Tue 06/Jan/2015,17:04:16,572,02:36:16
29,KUL-[AS-17:26:07,KUL,[AS,Tue 06/Jan/2015,17:26:07,1848,00:14:07
30,LAS-:IN-17:26:43,LAS,:IN,Tue 06/Jan/2015,17:26:43,1843,00:09:43
31,LAS-SIN-17:26:43,LAS,SIN,Tue 06/Jan/2015,17:26:43,1843,00:09:43
32,LAS-SI|-17:26:43,LAS,SI|,Tue 06/Jan/2015,17:26:43,1843,00:09:43
33,LHR-PEK-17:11:57,LHR,PEK,Tue 06/Jan/2015,17:11:57,1057,10:48:57
34,MAD-FRA-16:56:48,MAD,FRA,Tue 06/Jan/2015,16:56:48,184,20:00:48
35,MAD-]RA-16:56:48,MAD,]RA,Tue 06/Jan/2015,16:56:48,184,20:00:48
36,MIA-SFO-17:05:27,MIA,SFO,Tue 06/Jan/2015,17:05:27,538,02:03:27
37,MUC-;AD-16:58:59,MUC,;AD,Tue 06/Jan/2015,16:58:59,194,20:12:59
38,MUC-MAD-16:58:59,MUC,MAD,Tue 06/Jan/2015,16:58:59,194,20:12:59
39,OR8-MIA-17:00:49,OR8,MIA,Tue 06/Jan/2015,17:00:49,250,21:10:49
40,ORD-DXB-17:18:36,ORD,DXB,Tue 06/Jan/2015,17:18:36,1510,18:28:36
41,ORD-MIA-17:00:49,ORD,MIA,Tue 06/Jan/2015,17:00:49,250,21:10:49
42,PEK-LAX-17:13:34,PEK,LAX,Tue 06/Jan/2015,17:13:34,1302,14:55:34
43,PEK-L}X-17:13:34,PEK,L}X,Tue 06/Jan/2015,17:13:34,1302,14:55:34
44,PEe-LAX-17:13:34,PEe,LAX,Tue 06/Jan/2015,17:13:34,1302,14:55:34
45,PVG-FCO-17:16:01,PVG,FCO,Tue 06/Jan/2015,17:16:01,1189,13:05:01
46,UGK-DXB-17:05:58,UGK,DXB,Tue 06/Jan/2015,17:05:58,849,07:14:58
47,~AN-DFW-17:22:47,~AN,DFW,Tue 06/Jan/2015,17:22:47,1683,21:25:47

In [ ]:
# Check data
print(pass_data)
print(pass_datetime)
print(airport_lat_lon)

### Flight data only

In [19]:
#select subset of data 
flight_only_data = pass_data[['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'         
                      ,'Flight_time_min'
                      ,'count'
                        ]]

In [20]:
#Group data by flight
flight_only_data = flight_only_data.groupby(['Flight_id'
                          ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'         
                      ,'Flight_time_min'           
                         ]).count()
#reset index
flight_only_data.reset_index(inplace=True)

#checks
flight_only_data
len(flight_only_data)

54

## Error Correction
### Flights

In [ ]:
#check data
flight_only_data

In [21]:
#correct formats
format_IATA = r"[A-Z][A-Z][A-Z]"
format_flight_id = r"[A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][A-Z]"

#format_pass_id = r"[A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][A-Z][A-Z][0-9]"
#flight_only_data['Pass_id_format'] =flight_only_data['Passenger_id'].str.contains(format_pass_id)

#add column indicating if correct
flight_only_data['From_airport_format'] =flight_only_data['From_airport_IATA'].str.contains(format_IATA)
flight_only_data['Dest_airport_format'] =flight_only_data['Dest_airport_IATA'].str.contains(format_IATA)
flight_only_data['Flight_id_format'] =flight_only_data['Flight_id'].str.contains(format_flight_id)

In [22]:
#add column indicating if all flight regex correct
flight_only_data['Flight_info_correct']=flight_only_data.all(axis='columns')

In [23]:
#select only those whose regex is correct
flight_info_true = flight_only_data.loc[flight_only_data['Flight_info_correct'] == True]

In [24]:
#Take True airport values, change column names to enable merge

true_airports_from = pd.DataFrame(airport_lat_lon.Airport_IATA_code.unique())
#rename columns to allow merge
true_airports_from.columns = ['From_airport_IATA']
#add column to know if exists
true_airports_from['From_airport_exists']=True

true_airports_dest = pd.DataFrame(airport_lat_lon.Airport_IATA_code.unique())
#rename columns to allow merge
true_airports_dest.columns = ['Dest_airport_IATA']
#add column to know if exists
true_airports_dest['Dest_airport_exists']=True

In [ ]:
#send to cv for checking
#merge_with_dest.to_csv(r'merge_with_dest.csv')

In [25]:
#merge with from
merge_with_from=flight_info_true.merge(true_airports_from
                     , how='outer', on=['From_airport_IATA'])
#merge with dest
merge_with_dest=merge_with_from.merge(true_airports_dest
                     , how='outer', on=['Dest_airport_IATA'])
#check data
#merge_with_dest

In [26]:
#drop NaNs - any that are not in the true airport list
merge_with_dest=merge_with_dest.dropna(subset=['From_airport_exists', 'Dest_airport_exists'])

In [ ]:
merge_with_dest

In [27]:
#select subset of data 
flight_only_data = merge_with_dest[['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_time'
                      ,'count'
                        ]]

In [28]:
#Group data to see total flights
flight_only_data = flight_only_data.groupby(['Flight_id'
                        ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_time'
                         ]).sum()
flight_only_data

                                                           count
Flight_id From_airport_IATA Dest_airport_IATA Depart_time
ATT7791R  AMS               DEN               17:13:14      13.0
BER7172M  KUL               LAS               17:26:07      16.0
DAU2617A  CGK               SFO               17:23:06      12.0
DKZ3042O  MIA               SFO               17:05:27      11.0
EWH6301Y  CAN               DFW               17:22:47       9.0
FYL5866L  ATL               HKG               17:25:40      20.0
GMO5938W  LHR               PEK               17:11:57      24.0
HUR0974O  DEN               PVG               17:15:25       7.0
HZT2506M  IAH               AMS               17:12:04      13.0
JVY9791G  PVG               FCO               17:16:01      20.0
KJR6646J  IAH               BKK               17:26:43      23.0
MBA8071P  KUL               PEK               17:04:16      15.0
MOO1786A  MAD               FRA               16:56:48      12.0
PME8178S  DEN               PEK               17:13:29      17.0
PNE8178S  DEN               PEK               17:13:29       1.0
QHU1140O  CDG               LAS               17:14:58      20.0
RPG3351U  HND               CAN               16:59:29      13.0
RUM0422W  MUC               MAD               16:58:59      13.0
SOH3431A  ORD               MIA               17:00:49      17.0
SQU6245R  DEN               FRA               17:14:20      20.0
TMV7633W  CGK               DXB               17:05:58      14.0
ULZ8130D  CAN               DFW               17:23:03      27.0
VDC9164W  FCO               LAS               17:18:18      14.0
VYU9214I  ORD               DXB               17:18:36      15.0
VYW5940P  LAS               SIN               17:26:43      15.0
WPW9201U  DFW               PEK               17:21:09      10.0
WSK1289Z  CLT               DEN               16:59:02      20.0
XIL3623J  PEK               LAX               17:13:34      11.0
XOY7948U  ATL               LHR               17:07:18      16.0
XXQ4064B  JFK               FRA               17:05:17      23.0
YZO4444S  BKK               MIA               17:28:50      16.0

In [29]:
flight_only_data.reset_index(inplace=True)

In [30]:
route(flight_only_data)
#flight_only_data['Route'] = flight_only_data['From_airport_IATA']+'-' + flight_only_data['Dest_airport_IATA']+'-' + flight_only_data['Depart_time']

In [31]:
#sort, route in alpha-numeric order, count in descending (lowest value last)
flight_only_data.sort_values(by=['Route','count']
                             , ascending=[True,False]
                             , na_position='first')

,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_time,count,Route
0,ATT7791R,AMS,DEN,17:13:14,13.0,AMS-DEN-17:13:14
5,FYL5866L,ATL,HKG,17:25:40,20.0,ATL-HKG-17:25:40
28,XOY7948U,ATL,LHR,17:07:18,16.0,ATL-LHR-17:07:18
30,YZO4444S,BKK,MIA,17:28:50,16.0,BKK-MIA-17:28:50
4,EWH6301Y,CAN,DFW,17:22:47,9.0,CAN-DFW-17:22:47
21,ULZ8130D,CAN,DFW,17:23:03,27.0,CAN-DFW-17:23:03
15,QHU1140O,CDG,LAS,17:14:58,20.0,CDG-LAS-17:14:58
20,TMV7633W,CGK,DXB,17:05:58,14.0,CGK-DXB-17:05:58
2,DAU2617A,CGK,SFO,17:23:06,12.0,CGK-SFO-17:23:06
26,WSK1289Z,CLT,DEN,16:59:02,20.0,CLT-DEN-16:59:02
19,SQU6245R,DEN,FRA,17:14:20,20.0,DEN-FRA-17:14:20
13,PME8178S,DEN,PEK,17:13:29,17.0,DEN-PEK-17:13:29
14,PNE8178S,DEN,PEK,17:13:29,1.0,DEN-PEK-17:13:29
7,HUR0974O,DEN,PVG,17:15:25,7.0,DEN-PVG-17:15:25
25,WPW9201U,DFW,PEK,17:21:09,10.0,DFW-PEK-17:21:09
22,VDC9164W,FCO,LAS,17:18:18,14.0,FCO-LAS-17:18:18
16,RPG3351U,HND,CAN,16:59:29,13.0,HND-CAN-16:59:29
8,HZT2506M,IAH,AMS,17:12:04,13.0,IAH-AMS-17:12:04
10,KJR6646J,IAH,BKK,17:26:43,23.0,IAH-BKK-17:26:43
29,XXQ4064B,JFK,FRA,17:05:17,23.0,JFK-FRA-17:05:17
1,BER7172M,KUL,LAS,17:26:07,16.0,KUL-LAS-17:26:07
11,MBA8071P,KUL,PEK,17:04:16,15.0,KUL-PEK-17:04:16
24,VYW5940P,LAS,SIN,17:26:43,15.0,LAS-SIN-17:26:43
6,GMO5938W,LHR,PEK,17:11:57,24.0,LHR-PEK-17:11:57
12,MOO1786A,MAD,FRA,16:56:48,12.0,MAD-FRA-16:56:48
3,DKZ3042O,MIA,SFO,17:05:27,11.0,MIA-SFO-17:05:27
17,RUM0422W,MUC,MAD,16:58:59,13.0,MUC-MAD-16:58:59
23,VYU9214I,ORD,DXB,17:18:36,15.0,ORD-DXB-17:18:36
18,SOH3431A,ORD,MIA,17:00:49,17.0,ORD-MIA-17:00:49
27,XIL3623J,PEK,LAX,17:13:34,11.0,PEK-LAX-17:13:34
9,JVY9791G,PVG,FCO,17:16:01,20.0,PVG-FCO-17:16:01

In [32]:
# Remove duplicate with lowest value
flight_only_data['Route_dupe']=flight_only_data['Route'].duplicated()
flight_only_deduped = flight_only_data[flight_only_data.Route_dupe == False]

In [96]:
flight_only_deduped

,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_time,count,Route,Route_dupe
0,ATT7791R,AMS,DEN,17:13:14,13.0,AMS-DEN-17:13:14,False
1,BER7172M,KUL,LAS,17:26:07,16.0,KUL-LAS-17:26:07,False
2,DAU2617A,CGK,SFO,17:23:06,12.0,CGK-SFO-17:23:06,False
3,DKZ3042O,MIA,SFO,17:05:27,11.0,MIA-SFO-17:05:27,False
4,EWH6301Y,CAN,DFW,17:22:47,9.0,CAN-DFW-17:22:47,False
5,FYL5866L,ATL,HKG,17:25:40,20.0,ATL-HKG-17:25:40,False
6,GMO5938W,LHR,PEK,17:11:57,24.0,LHR-PEK-17:11:57,False
7,HUR0974O,DEN,PVG,17:15:25,7.0,DEN-PVG-17:15:25,False
8,HZT2506M,IAH,AMS,17:12:04,13.0,IAH-AMS-17:12:04,False
9,JVY9791G,PVG,FCO,17:16:01,20.0,PVG-FCO-17:16:01,False
10,KJR6646J,IAH,BKK,17:26:43,23.0,IAH-BKK-17:26:43,False
11,MBA8071P,KUL,PEK,17:04:16,15.0,KUL-PEK-17:04:16,False
12,MOO1786A,MAD,FRA,16:56:48,12.0,MAD-FRA-16:56:48,False
13,PME8178S,DEN,PEK,17:13:29,17.0,DEN-PEK-17:13:29,False
15,QHU1140O,CDG,LAS,17:14:58,20.0,CDG-LAS-17:14:58,False
16,RPG3351U,HND,CAN,16:59:29,13.0,HND-CAN-16:59:29,False
17,RUM0422W,MUC,MAD,16:58:59,13.0,MUC-MAD-16:58:59,False
18,SOH3431A,ORD,MIA,17:00:49,17.0,ORD-MIA-17:00:49,False
19,SQU6245R,DEN,FRA,17:14:20,20.0,DEN-FRA-17:14:20,False
20,TMV7633W,CGK,DXB,17:05:58,14.0,CGK-DXB-17:05:58,False
21,ULZ8130D,CAN,DFW,17:23:03,27.0,CAN-DFW-17:23:03,False
22,VDC9164W,FCO,LAS,17:18:18,14.0,FCO-LAS-17:18:18,False
23,VYU9214I,ORD,DXB,17:18:36,15.0,ORD-DXB-17:18:36,False
24,VYW5940P,LAS,SIN,17:26:43,15.0,LAS-SIN-17:26:43,False
25,WPW9201U,DFW,PEK,17:21:09,10.0,DFW-PEK-17:21:09,False
26,WSK1289Z,CLT,DEN,16:59:02,20.0,CLT-DEN-16:59:02,False
27,XIL3623J,PEK,LAX,17:13:34,11.0,PEK-LAX-17:13:34,False
28,XOY7948U,ATL,LHR,17:07:18,16.0,ATL-LHR-17:07:18,False
29,XXQ4064B,JFK,FRA,17:05:17,23.0,JFK-FRA-17:05:17,False
30,YZO4444S,BKK,MIA,17:28:50,16.0,BKK-MIA-17:28:50,False

## add to passenger data

In [35]:
#Add route info to pass_data
route(pass_data)
#pass_data['Route'] = pass_data['From_airport_IATA']+'-' + pass_data['Dest_airport_IATA']+'-' + pass_data['Depart_time']

In [36]:
#Select data required
pass_data_slim = pass_data[['Passenger_id','Flight_id','Route']]
flight_id_route = flight_only_deduped[['Route','Flight_id']]

In [37]:
#Merge correct flight id
flight_id_route.columns = ['Route','correct_Flight_id']
pass_data_route = pass_data_slim.merge(flight_id_route, how='outer', on=['Route'])
pass_data_route.loc[pass_data_route['correct_Flight_id'].notna(), 'Final_Flight_id'] = pass_data_route['correct_Flight_id']
pass_data_route.loc[pass_data_route['correct_Flight_id'].isnull(), 'Final_Flight_id'] = pass_data_route['Flight_id']

In [38]:
#Merge correct route info
flight_id_route.columns = ['Correct_Route','Flight_id']
pass_data_route = pass_data_route.merge(flight_id_route, how='outer', on=['Flight_id'])
pass_data_route.loc[pass_data_route['Correct_Route'].notna(), 'Final_Route'] = pass_data_route['Correct_Route']
pass_data_route.loc[pass_data_route['Correct_Route'].isnull(), 'Final_Route'] = pass_data_route['Route']

In [39]:
pass_data_route = pass_data_route[['Passenger_id','Final_Flight_id','Final_Route']]
pass_data_route.columns = ['Passenger_id','Flight_id','Route']

In [44]:
#pass_data_route.to_csv((r'pass_data_route.csv'))
pass_data_route

    Passenger_id Flight_id             Route
0     UES9151GS5  SQU6245R  DEN-FRA-17:14:20
1     UES915*GS5  SQU6245R  DEN-FRA-17:14:20
2     JBE2302VO4  SQU6245R  DEN-FRA-17:14:20
3     HCA3158QA6  SQU6245R  DEN-FRA-17:14:20
4     XFG5747ZT9  SQU6245R  DEN-FRA-17:14:20
..           ...       ...               ...
495   HCA3158QA6  XOY7948U  ATL-LHR-17:07:18
496   WBE6935NU$  XOY7948U  ATL-LHR-17:07:18
497   SPR4484HA6  XOY7948U  ATL-LHR-17:07:18
498   VZY2993ME1  XOY7948U  ATL-LHR-17:07:18
499   YMH6360YP0  XOY7948U  ATL-LHR-17:07:18

[500 rows x 3 columns]

## Error Correction
### Passenger

In [ ]:
format_pass_id = r"[A-Z][A-Z][A-Z][0-9][0-9][0-9][0-9][A-Z][A-Z][0-9]"
pass_data_route_test=pass_data_route
pass_data_route_test['Pass_id_format'] =pass_data_route['Passenger_id'].str.contains(format_pass_id)
pass_data_route_test

In [ ]:
#add column to count
pass_data_route_test['count'] = '1'

In [ ]:
#select subset of data 
pass_data_route_test = pass_data_route_test[['Passenger_id'
                   #   ,'Flight_id'
                      ,'Pass_id_format'
                      ,'count'
                        ]]

In [ ]:
#Group data to see passengers and total flights by passenger id
pass_only=pass_data_route_test.groupby(['Passenger_id'
                        ,'Pass_id_format'
                         ]).count()
#reset index
pass_only.reset_index(inplace=True)

pass_only

In [ ]:
#select only those whose regex is correct 
## this is not necessary as the second code will remove these, 
## however it is left here as this will be a better way to check if correct passenger id
pass_info_true = pass_only.loc[pass_only['Pass_id_format'] == True]

In [ ]:
#select only those who have more than 1 flight
pass_info_true = pass_only.loc[pass_only['count'] != 1]
#pass_info_true

In [ ]:
pass_info_false = pass_only.loc[pass_only['count'] == 1]
#pass_info_false

In [ ]:
#Create list of false passenger ids
false = pass_info_false['Passenger_id']
false

In [ ]:
#Create list of false passenger ids
true = pass_info_true['Passenger_id']
#true

In [ ]:
#create function to find the best match for a given false value and list for true values
def best_match(f,t):
    global test_best_true
    global final_true
    test_best_true = []
    final_true =[]
    for t in true:
        test_best_true.append([t,round(SequenceMatcher(None, t, f).ratio(),3)])
    test_best_true = pd.DataFrame(test_best_true)
    max_true = test_best_true.iloc[test_best_true[1].idxmax(), 0]
    final_true.append([f,max_true])
    #final_true = pd.DataFrame (final_true)
   # print(final_true)

In [ ]:
#test each false value
best_match_results = []
for f in false:
    best_match(f,t)
    best_match_results.append(final_true)

In [ ]:
#turn into dataframe
best_match_results_pd=pd.DataFrame (best_match_results)
best_match_results_pd.columns = ['results']
best_match_results_pd
#obj_1_list.columns = ['From_airport_IATA']

In [59]:
#pass_data_route['From_airport_IATA']
#best_match_results_pd['results'].str.split('-',expand=True)
#route(pass_data_route)
pass_data_route
route_info

    Passenger_id Flight_id             Route
0     UES9151GS5  SQU6245R  DEN-FRA-17:14:20
1     UES915*GS5  SQU6245R  DEN-FRA-17:14:20
2     JBE2302VO4  SQU6245R  DEN-FRA-17:14:20
3     HCA3158QA6  SQU6245R  DEN-FRA-17:14:20
4     XFG5747ZT9  SQU6245R  DEN-FRA-17:14:20
..           ...       ...               ...
495   HCA3158QA6  XOY7948U  ATL-LHR-17:07:18
496   WBE6935NU$  XOY7948U  ATL-LHR-17:07:18
497   SPR4484HA6  XOY7948U  ATL-LHR-17:07:18
498   VZY2993ME1  XOY7948U  ATL-LHR-17:07:18
499   YMH6360YP0  XOY7948U  ATL-LHR-17:07:18

[500 rows x 3 columns]

## Objective 1: 
### Determine the number of flights from each airport; include a list of any airports not used.

In [41]:
# List of top 30 airports
airport_list = airport_lat_lon['Airport_IATA_code']
airport_list.columns = ['From_airport_IATA']
airport_list = pd.DataFrame(airport_list)

In [80]:
# Add all route info
pass_data_route=pass_data_route.merge(route_info, how='inner', on=['Route'])

In [81]:
# Count number of departure flights
from_df = pass_data_route['From_airport_IATA']
from_counts = from_df.value_counts()
from_counts_df = pd.DataFrame(from_counts)
# move index to column
from_counts_df['Airport_IATA_code'] =from_counts_df.index

In [ ]:
#Check data
print(from_df)
print(from_counts)
print(from_counts_df)

In [82]:
# merge full list of airports with number of flights from each airport
num_flights = airport_list.merge(from_counts_df, how='outer', on=['Airport_IATA_code'])

In [83]:
# clean up results
num_flights=num_flights.fillna(0)
num_flights=num_flights.sort_values(by=['From_airport_IATA','Airport_IATA_code'], ascending=[False,True])
num_flights.set_index('Airport_IATA_code', inplace=True, drop=True)
num_flights

                   From_airport_IATA
Airport_IATA_code
DEN                             46.0
CAN                             37.0
IAH                             37.0
ATL                             36.0
KUL                             33.0
ORD                             33.0
CGK                             27.0
JFK                             25.0
LHR                             25.0
CDG                             21.0
CLT                             21.0
PVG                             20.0
BKK                             17.0
LAS                             17.0
AMS                             15.0
FCO                             15.0
MUC                             14.0
HND                             13.0
MAD                             13.0
PEK                             13.0
DFW                             11.0
MIA                             11.0
DXB                              0.0
FRA                              0.0
HKG                              0.0
IST                              0.0
LAX                              0.0
PHX                              0.0
SFO                              0.0
SIN                              0.0

## Objective 2
### Create a list of flights based on the Flight id, this output should include the passenger Id, relevant IATA/FAA codes, the departure time, the arrival time (times to be converted to HH:MM:SS format), and the flight times.

In [ ]:
#pass_data_route
calc_arrive_time(pass_data_route)
#num_flights = airport_list.merge(from_counts_df, how='outer', on=['Airport_IATA_code'])

In [85]:
#select data for objective 2
#obj2_data = pass_data_route[['Flight_id'
#                      ,'From_airport_IATA'
#                      ,'Dest_airport_IATA'
#                      ,'Depart_day_month'
#                      ,'Depart_time'
#                      ,'Arrive_time'
#                      ,'Flight_time_min'
#                      ,'Passenger_id']]
pass_data_route

,Passenger_id,Flight_id,Route,From_airport_IATA,Dest_airport_IATA,Depart_day_month,Depart_time,Flight_time_min,Arrive_time
0,UES9151GS5,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
1,UES915*GS5,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
2,JBE2302VO4,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
3,HCA3158QA6,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
4,XFG5747ZT9,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20
...,...,...,...,...,...,...,...,...,...
495,HCA3158QA6,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18
496,WBE6935NU$,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18
497,SPR4484HA6,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18
498,VZY2993ME1,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18
499,YMH6360YP0,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18

## Objective 3
### Calculate the number of passengers on each flight.

In [86]:
#obj2_results = 
pass_data_route.groupby(['Route'
                      ,'Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Arrive_time'
                      ,'Flight_time_min']).count()
#reset index as columns
#obj2_results.reset_index(inplace=True)
#obj2_results

                                                                                                                         Passenger_id
Route            Flight_id From_airport_IATA Dest_airport_IATA Depart_day_month Depart_time Arrive_time Flight_time_min
AMS-DEN-17:13:14 ATT7791R  AMS               DEN               Tue 06/Jan/2015  17:13:14    09:54:14    1001                       15
ATL-HKG-17:25:40 FYL5866L  ATL               HKG               Tue 06/Jan/2015  17:25:40    22:36:40    1751                       20
ATL-LHR-17:07:18 XOY7948U  ATL               LHR               Tue 06/Jan/2015  17:07:18    07:44:18    877                        16
BKK-MIA-17:28:50 YZO4444S  BKK               MIA               Tue 06/Jan/2015  17:28:50    03:15:50    2027                       17
CAN-DFW-17:22:47 EWH6301Y  CAN               DFW               Tue 06/Jan/2015  17:22:47    21:25:47    1683                       10
CAN-DFW-17:23:03 ULZ8130D  CAN               DFW               Tue 06/Jan/2015  17:23:03    21:26:03    1683                       27
CDG-LAS-17:14:58 QHU1140O  CDG               LAS               Tue 06/Jan/2015  17:14:58    12:07:58    1133                       21
CGK-DXB-17:05:58 TMV7633W  CGK               DXB               Tue 06/Jan/2015  17:05:58    07:14:58    849                        15
CGK-SFO-17:23:06 DAU2617A  CGK               SFO               Tue 06/Jan/2015  17:23:06    23:34:06    1811                       12
CLT-DEN-16:59:02 WSK1289Z  CLT               DEN               Tue 06/Jan/2015  16:59:02    21:37:02    278                        21
DEN-FRA-17:14:20 SQU6245R  DEN               FRA               Tue 06/Jan/2015  17:14:20    10:43:20    1049                       21
DEN-PEK-17:13:29 PME8178S  DEN               PEK               Tue 06/Jan/2015  17:13:29    15:15:29    1322                       18
DEN-PVG-17:15:25 HUR0974O  DEN               PVG               Tue 06/Jan/2015  17:15:25    16:33:25    1398                        7
DFW-PEK-17:21:09 WPW9201U  DFW               PEK               Tue 06/Jan/2015  17:21:09    17:33:09    1452                       11
FCO-LAS-17:18:18 VDC9164W  FCO               LAS               Tue 06/Jan/2015  17:18:18    14:34:18    1276                       15
HND-CAN-16:59:29 RPG3351U  HND               CAN               Tue 06/Jan/2015  16:59:29    23:13:29    374                        13
IAH-AMS-17:12:04 HZT2506M  IAH               AMS               Tue 06/Jan/2015  17:12:04    10:36:04    1044                       14
IAH-BKK-17:26:43 KJR6646J  IAH               BKK               Tue 06/Jan/2015  17:26:43    01:34:43    1928                       23
JFK-FRA-17:05:17 XXQ4064B  JFK               FRA               Tue 06/Jan/2015  17:05:17    06:27:17    802                        25
KUL-LAS-17:26:07 BER7172M  KUL               LAS               Tue 06/Jan/2015  17:26:07    00:14:07    1848                       17
KUL-PEK-17:04:16 MBA8071P  KUL               PEK               Tue 06/Jan/2015  17:04:16    02:36:16    572                        16
LAS-SIN-17:26:43 VYW5940P  LAS               SIN               Tue 06/Jan/2015  17:26:43    00:09:43    1843                       17
LHR-PEK-17:11:57 GMO5938W  LHR               PEK               Tue 06/Jan/2015  17:11:57    10:48:57    1057                       25
MAD-FRA-16:56:48 MOO1786A  MAD               FRA               Tue 06/Jan/2015  16:56:48    20:00:48    184                        13
MIA-SFO-17:05:27 DKZ3042O  MIA               SFO               Tue 06/Jan/2015  17:05:27    02:03:27    538                        11
MUC-MAD-16:58:59 RUM0422W  MUC               MAD               Tue 06/Jan/2015  16:58:59    20:12:59    194                        14
ORD-DXB-17:18:36 VYU9214I  ORD               DXB               Tue 06/Jan/2015  17:18:36    18:28:36    1510                       15
ORD-MIA-17:00:49 SOH3431A  ORD               MIA               Tue 06/Jan/2015  17:00:49    21:10:49    250                        18
PEK-LAX-17:13:34 XIL3623J  PEK               LAX               Tue 06/Jan/2015  17:13:34    14:55:34    1302                       13
PVG-FCO-17:16:01 JVY9791G  PVG               FCO               Tue 06/Jan/2015  17:16:01    13:05:01    1189                       20

## Objective 4
### Calculate the line-of-sight (nautical) miles for each flight and the total travelled by each passenger and thus output the passenger having earned the highest air miles.

In [97]:
#flight info
flight_from = flight_only_deduped[['Flight_id','From_airport_IATA']]
flight_dest = flight_only_deduped[['Flight_id','Dest_airport_IATA']]

In [98]:
#rename columns to allow merge
flight_from.columns = ['Flight_id'
                        ,'Airport_IATA_code']
flight_dest.columns = ['Flight_id'
                        ,'Airport_IATA_code']

In [99]:
#merge from flight with latitude and longitude
from_lat_long = flight_from.merge(airport_lat_lon, how='inner', on=['Airport_IATA_code','Airport_IATA_code'])
from_lat_long.columns = ['Flight_id'
                        ,'From_Airport_IATA_code'
                        ,'From_Airport_Name'
                        ,'From_Lat'
                        ,'From_Lon'
                    ]

In [100]:
#merge dest flight with latitude and longitude
dest_lat_lon = flight_dest.merge(airport_lat_lon, how='inner', on=['Airport_IATA_code','Airport_IATA_code'])
dest_lat_lon.columns = ['Flight_id'
                        ,'Dest_Airport_IATA_code'
                        ,'Dest_Airport_Name'
                        ,'Dest_Lat'
                        ,'Dest_Lon'
                    ]

In [101]:
#merge from flight with latitude and longitude
from_dest_lat_lon = from_lat_long.merge(dest_lat_lon, how='outer', on=['Flight_id','Flight_id'])

In [102]:
from_dest_lat_lon

,Flight_id,From_Airport_IATA_code,From_Airport_Name,From_Lat,From_Lon,Dest_Airport_IATA_code,Dest_Airport_Name,Dest_Lat,Dest_Lon
0,ATT7791R,AMS,AMSTERDAM,52.308613,4.763889,DEN,DENVER,39.861656,-104.673178
1,BER7172M,KUL,KUALA LUMPUR,2.745578,101.709917,LAS,LAS VEGAS,36.080056,-115.152250
2,MBA8071P,KUL,KUALA LUMPUR,2.745578,101.709917,PEK,BEIJING,40.080111,116.584556
3,DAU2617A,CGK,JAKARTA,-6.125567,106.655897,SFO,SAN FRANCISCO,37.618972,-122.374889
4,TMV7633W,CGK,JAKARTA,-6.125567,106.655897,DXB,DUBAI,25.252778,55.364444
5,DKZ3042O,MIA,MIAMI,25.793250,-80.290556,SFO,SAN FRANCISCO,37.618972,-122.374889
6,EWH6301Y,CAN,GUANGZHOU,23.392436,113.298786,DFW,DALLAS/FORT WORTH,32.896828,-97.037997
7,ULZ8130D,CAN,GUANGZHOU,23.392436,113.298786,DFW,DALLAS/FORT WORTH,32.896828,-97.037997
8,FYL5866L,ATL,ATLANTA,33.636719,-84.428067,HKG,HONG KONG,22.308919,113.914603
9,XOY7948U,ATL,ATLANTA,33.636719,-84.428067,LHR,LONDON,51.477500,-0.461389
10,GMO5938W,LHR,LONDON,51.477500,-0.461389,PEK,BEIJING,40.080111,116.584556
11,HUR0974O,DEN,DENVER,39.861656,-104.673178,PVG,SHANGHAI,31.143378,121.805214
12,PME8178S,DEN,DENVER,39.861656,-104.673178,PEK,BEIJING,40.080111,116.584556
13,SQU6245R,DEN,DENVER,39.861656,-104.673178,FRA,FRANKFURT,50.026421,8.543125
14,HZT2506M,IAH,HOUSTON,29.984433,-95.341442,AMS,AMSTERDAM,52.308613,4.763889
15,KJR6646J,IAH,HOUSTON,29.984433,-95.341442,BKK,BANGKOK,13.681108,100.747283
16,JVY9791G,PVG,SHANGHAI,31.143378,121.805214,FCO,ROME,41.804475,12.250797
17,MOO1786A,MAD,MADRID,40.493556,-3.566764,FRA,FRANKFURT,50.026421,8.543125
18,QHU1140O,CDG,PARIS,49.012779,2.550000,LAS,LAS VEGAS,36.080056,-115.152250
19,RPG3351U,HND,TOKYO,35.552258,139.779694,CAN,GUANGZHOU,23.392436,113.298786
20,RUM0422W,MUC,MUNICH,48.353783,11.786086,MAD,MADRID,40.493556,-3.566764
21,SOH3431A,ORD,CHICAGO,41.978603,-87.904842,MIA,MIAMI,25.793250,-80.290556
22,VYU9214I,ORD,CHICAGO,41.978603,-87.904842,DXB,DUBAI,25.252778,55.364444
23,VDC9164W,FCO,ROME,41.804475,12.250797,LAS,LAS VEGAS,36.080056,-115.152250
24,VYW5940P,LAS,LAS VEGAS,36.080056,-115.152250,SIN,SINGAPORE,1.350189,103.994433
25,WPW9201U,DFW,DALLAS/FORT WORTH,32.896828,-97.037997,PEK,BEIJING,40.080111,116.584556
26,WSK1289Z,CLT,CHARLOTTE,35.214000,-80.943139,DEN,DENVER,39.861656,-104.673178
27,XIL3623J,PEK,BEIJING,40.080111,116.584556,LAX,LOS ANGELES,33.942536,-118.408075
28,XXQ4064B,JFK,NEW YORK,40.639751,-73.778925,FRA,FRANKFURT,50.026421,8.543125
29,YZO4444S,BKK,BANGKOK,13.681108,100.747283,MIA,MIAMI,25.793250,-80.290556

In [103]:
# Calculate nautical miles (a^2+b^2=c^2)
from_dest_lat_lon['Miles'] = np.sqrt((from_dest_lat_lon['Dest_Lat']-from_dest_lat_lon['From_Lat'])**2
+(from_dest_lat_lon['Dest_Lon']-from_dest_lat_lon['From_Lon'])**2)

In [104]:
#export results
from_dest_lat_lon.to_csv(r'from_dest_lat_lon.csv')

In [105]:
# Number of miles per flight 
miles_flight = from_dest_lat_lon[['Flight_id','Miles']]
miles_flight

   Flight_id       Miles
0   ATT7791R  110.142627
1   BER7172M  219.409177
2   MBA8071P   40.188583
3   DAU2617A  233.170936
4   TMV7633W   60.128310
5   DKZ3042O   43.714286
6   EWH6301Y  210.551409
7   ULZ8130D  210.551409
8   FYL5866L  198.665885
9   XOY7948U   85.841112
10  GMO5938W  117.599548
11  HUR0974O  226.646135
12  PME8178S  221.257842
13  SQU6245R  113.671693
14  HZT2506M  102.564352
15  KJR6646J  196.765308
16  JVY9791G  110.071928
17  MOO1786A   15.411844
18  QHU1140O  118.410620
19  RPG3351U   29.139316
20  RUM0422W   17.247990
21  SOH3431A   17.886951
22  VYU9214I  144.242301
23  VDC9164W  127.531586
24  VYW5940P  221.881573
25  WPW9201U  213.743292
26  WSK1289Z   24.180890
27  XIL3623J  235.072768
28  XXQ4064B   82.855474
29  YZO4444S  181.442562

In [107]:
#Add flight miles to passenger data
obj4_data = pass_data_route.merge(miles_flight, how='outer', on=['Flight_id'])
obj4_data

,Passenger_id,Flight_id,Route,From_airport_IATA,Dest_airport_IATA,Depart_day_month,Depart_time,Flight_time_min,Arrive_time,Miles
0,UES9151GS5,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20,113.671693
1,UES915*GS5,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20,113.671693
2,JBE2302VO4,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20,113.671693
3,HCA3158QA6,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20,113.671693
4,XFG5747ZT9,SQU6245R,DEN-FRA-17:14:20,DEN,FRA,Tue 06/Jan/2015,17:14:20,1049,10:43:20,113.671693
...,...,...,...,...,...,...,...,...,...,...
495,HCA3158QA6,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18,85.841112
496,WBE6935NU$,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18,85.841112
497,SPR4484HA6,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18,85.841112
498,VZY2993ME1,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18,85.841112
499,YMH6360YP0,XOY7948U,ATL-LHR-17:07:18,ATL,LHR,Tue 06/Jan/2015,17:07:18,877,07:44:18,85.841112

In [109]:
#Number of miles per flight per passenger
pass_flights= pd.pivot_table(obj4_data, values='Miles', index=['Passenger_id'],
               columns=['Flight_id']
              , aggfunc=np.sum
              )
pass_flights

Flight_id,ATT7791R,BER7172M,DAU2617A,DKZ3042O,EWH6301Y,FYL5866L,GMO5938W,HUR0974O,HZT2506M,JVY9791G,...,ULZ8130D,VDC9164W,VYU9214I,VYW5940P,WPW9201U,WSK1289Z,XIL3623J,XOY7948U,XXQ4064B,YZO4444S
Passenger_id,,,,,,,,,,,,,,,,,,,,,
BWI0520BG6,110.142627,219.409177,NaN,NaN,631.654226,NaN,235.199096,NaN,205.128704,220.143855,...,NaN,255.063171,NaN,665.644718,NaN,NaN,NaN,NaN,82.855474,181.442562
CDC0302NN5,NaN,NaN,NaN,NaN,NaN,198.665885,NaN,NaN,205.128704,110.071928,...,421.102818,NaN,NaN,NaN,NaN,24.180890,235.072768,NaN,82.855474,NaN
CKZ3132BR4,NaN,NaN,NaN,NaN,NaN,595.997654,117.599548,226.646135,102.564352,110.071928,...,NaN,NaN,NaN,221.881573,NaN,24.180890,235.072768,85.841112,82.855474,181.442562
CKZ313\BR4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CXN7304ER2,NaN,NaN,233.170936,NaN,NaN,198.665885,352.798644,NaN,NaN,110.071928,...,210.551409,127.531586,NaN,221.881573,427.486583,24.180890,NaN,85.841112,NaN,NaN
CYJ0225CH1,NaN,NaN,233.170936,NaN,NaN,NaN,117.599548,453.292270,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24.180890,235.072768,NaN,82.855474,181.442562
DAZ3029XA0,110.142627,438.818354,NaN,NaN,210.551409,NaN,117.599548,NaN,NaN,NaN,...,631.654226,127.531586,NaN,221.881573,213.743292,24.180890,235.072768,NaN,82.855474,362.885123
EDV2089LK5,110.142627,NaN,233.170936,NaN,NaN,NaN,117.599548,226.646135,NaN,NaN,...,210.551409,NaN,144.242301,NaN,NaN,48.361781,235.072768,NaN,NaN,181.442562
EZC9678QI6,110.142627,NaN,233.170936,43.714286,210.551409,198.665885,117.599548,NaN,102.564352,110.071928,...,210.551409,NaN,288.484603,443.763146,NaN,24.180890,NaN,85.841112,NaN,NaN
HCA3158QA6,NaN,219.409177,NaN,43.714286,NaN,198.665885,117.599548,NaN,NaN,110.071928,...,421.102818,NaN,144.242301,NaN,NaN,NaN,NaN,85.841112,82.855474,NaN
HGO4350KK1,NaN,219.409177,NaN,NaN,210.551409,198.665885,NaN,NaN,205.128704,110.071928,...,NaN,NaN,144.242301,NaN,213.743292,24.180890,NaN,85.841112,82.855474,181.442562
IEG9308EA5,NaN,NaN,NaN,43.714286,NaN,198.665885,117.599548,NaN,NaN,NaN,...,NaN,NaN,144.242301,NaN,NaN,NaN,NaN,85.841112,NaN,181.442562
JBE2302VO4,NaN,NaN,NaN,NaN,NaN,NaN,235.199096,NaN,102.564352,220.143855,...,210.551409,255.063171,144.242301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JJM4724RF7,NaN,NaN,NaN,43.714286,NaN,397.331770,117.599548,226.646135,205.128704,NaN,...,NaN,NaN,NaN,221.881573,427.486583,48.361781,235.072768,NaN,165.710947,181.442562
KKP5277HZ7,NaN,NaN,NaN,43.714286,NaN,NaN,NaN,NaN,102.564352,NaN,...,NaN,127.531586,NaN,665.644718,NaN,NaN,NaN,NaN,NaN,NaN
LLZ3798PE3,NaN,NaN,233.170936,NaN,210.551409,198.665885,NaN,NaN,NaN,110.071928,...,210.551409,NaN,144.242301,NaN,NaN,NaN,235.072768,NaN,82.855474,181.442562
MXU9187YC7,220.285255,NaN,233.170936,43.714286,NaN,NaN,NaN,NaN,NaN,110.071928,...,NaN,127.531586,NaN,NaN,NaN,NaN,NaN,NaN,82.855474,181.442562
ONL0812DH1,110.142627,219.409177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,210.551409,NaN,144.242301,NaN,NaN,24.180890,NaN,NaN,82.855474,NaN
PAJ3974RK1,110.142627,219.409177,NaN,NaN,210.551409,NaN,117.599548,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PIT2755XC1,110.142627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,421.102818,NaN,NaN,221.881573,NaN,24.180890,NaN,85.841112,NaN,NaN
POP2875LH3,NaN,NaN,NaN,NaN,NaN,397.331770,NaN,NaN,102.564352,220.143855,...,NaN,NaN,288.484603,221.881573,NaN,NaN,NaN,85.841112,82.855474,NaN
PUD8209OG3,NaN,658.227531,NaN,43.714286,NaN,NaN,NaN,226.646135,NaN,NaN,...,421.102818,127.531586,144.242301,NaN,NaN,NaN,NaN,NaN,331.421894,181.442562
SJD8775RZ4,NaN,219.409177,233.170936,NaN,NaN,NaN,NaN,NaN,102.564352,NaN,...,210.551409,127.531586,NaN,NaN,NaN,24.180890,NaN,NaN,165.710947,NaN
SJD8|75RZ4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,210.551409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SPR4484HA6,110.142627,438.818354,NaN,43.714286,NaN,198.665885,235.199096,NaN,NaN,110.071928,...,210.551409,255.063171,NaN,221.881573,NaN,24.180890,NaN,85.841112,NaN,181.442562
SPRb484HA6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,221.881573,NaN,NaN,NaN,NaN,NaN,NaN
UES915*GS5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UES9151GS5,220.285255,NaN,233.170936,NaN,NaN,NaN,352.798644,NaN,NaN,110.071928,...,210.551409,255.063171,NaN,221.881573,213.743292,24.180890,NaN,85.841112,165.710947,181.442562
UMH6360YP0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.855474,NaN
VZT2993ME1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,210.551409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VZY2993ME1,NaN,NaN,NaN,NaN,421.102818,NaN,NaN,NaN,NaN,110.071928,...,421.102818,NaN,NaN,NaN,NaN,48.361781,235.072768,171.682224,NaN,181.442562
WBE6935NU$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.841112,NaN,NaN
WBE6935NU3,110.142627,438.818354,233.170936,NaN,NaN,NaN,117.599548,NaN,NaN,110.071928,...,210.551409,NaN,288.484603,NaN,213.743292,NaN,NaN,NaN,NaN,181.442562
WTC9125IE5,NaN,219.409177,NaN,87.428572,NaN,NaN,235.199096,NaN,NaN,NaN,...,210.551409,NaN,144.242301,NaN,213.743292,NaN,235.072768,85.841112,NaN,NaN
WYU2010YH8,NaN,219.409177,233.170936,NaN,NaN,198.665885,NaN,NaN,NaN,110.071928,...,210.551409,127.531586,NaN,NaN,213.743292,24.180890,470.145537,85.841112,82.855474,NaN
WYu2010YH8,NaN,NaN,NaN,NaN,NaN,198.665885,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
XFG5747ZT9,NaN,NaN,233.170936,43.714286,NaN,397.331770,NaN,226.646135,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24.180890,NaN,NaN,82.855474,181.442562
YMH6360YP0,220.285255,NaN,233.170936,NaN,NaN,198.665885,117.599548,NaN,NaN,110.071928,...,NaN,NaN,NaN,NaN,213.743292,24.180890,470.145537,85.841112,82.855474,NaN

In [110]:
#pass_flights.to_csv(r'pass_flights.csv')

In [111]:
#Add up flight miles per passenger
Pass_miles = pass_flights.sum(axis = 1, skipna = True) 
Pass_miles_df = pd.DataFrame(Pass_miles)
Pass_miles_df.columns = ['Air_miles']
Pass_miles_df = Pass_miles_df.sort_values(by=['Air_miles'], ascending=False)
Pass_miles_df.to_csv(r'Pass_miles_df.csv')
Pass_miles_df

                Air_miles
Passenger_id
UES9151GS5    3378.506108
DAZ3029XA0    3305.874609
BWI0520BG6    3272.929994
PUD8209OG3    3096.711990
SPR4484HA6    2906.116400
WYU2010YH8    2778.084321
JJM4724RF7    2686.007603
WBE6935NU3    2514.918797
HCA3158QA6    2505.947740
CKZ3132BR4    2441.387342
EZC9678QI6    2318.899913
YMH6360YP0    2305.502689
CXN7304ER2    2275.876499
LLZ3798PE3    2216.033702
HGO4350KK1    2181.855819
EDV2089LK5    2146.511059
POP2875LH3    1958.895346
XFG5747ZT9    1852.595538
CDC0302NN5    1813.512237
VZY2993ME1    1807.188060
CYJ0225CH1    1702.732566
JBE2302VO4    1688.189234
WTC9125IE5    1607.344774
MXU9187YC7    1603.482635
KKP5277HZ7    1590.017301
SJD8775RZ4    1556.178651
ONL0812DH1    1332.255655
PIT2755XC1     994.707663
IEG9308EA5     978.604491
PAJ3974RK1     891.676812
SPRb484HA6     221.881573
VZT2993ME1     210.551409
SJD8|75RZ4     210.551409
WYu2010YH8     198.665885
CKZ313\BR4     118.410620
UES915*GS5     113.671693
WBE6935NU$      85.841112
UMH6360YP0      82.855474

# old code, maybe useful

In [ ]:
pass_data_df.value_counts(['From_airport_IATA'])

In [ ]:
pass_data_df.groupby(['From_airport_IATA']).count()

In [ ]:
flight_only_grp.isin(flight_only_grp['From_airport_IATA'])

In [ ]:
#pass_data_df.set_index(["From_airport_IATA"]).count(level="From_airport_IATA")
pass_data_df.count(axis="From_airport_IATA")

In [ ]:
#pd.concat([obj_1_list_df, from_counts_df], keys=['Airport_IATA_code','Airport_IATA_code'])

In [ ]:
#pass_data_df['Depart_time_epoch'].dt.strftime("%m/%d/%y")
#pass_data_df['Depart_time_epoch']=
(pd.to_datetime(pass_data_df['Depart_time_epoch'],unit='s'))

In [ ]:
obj1 = obj_1_list_df.merge(from_counts_df, how='outer', on=['Airport_IATA_code', 'Airport_IATA_code'])

In [ ]:
if re.match(r"hello[0-9]+", 'hello1'):
    print('Yes')

In [ ]:
pattern = r"[A-Z][A-Z][A-Z]"

pd.Series(
     ["DEN", "A;S", "AM%", "3b", "03c", "4dx"],
 ).str.contains(pattern)

In [ ]:
#pass_data_df[pass_data_df['From_airport_IATA'].str.match('DEN')== True]
#pass_data_df['From_airport_format']=
pass_data_df['From_airport_IATA'].str.match('[A-Z][A-Z][A-Z]')

In [ ]:
#merging by IATA code
#select remaining from airports
from_values = flight_info_true.From_airport_IATA.unique()
dest_values = flight_info_true.Dest_airport_IATA.unique()
#turn to dataframe
from_values_df = pd.DataFrame(from_values)
dest_values_df = pd.DataFrame(dest_values)
#rename columns to allow merge
from_values_df.columns = ['Airport_IATA_code']
dest_values_df.columns = ['Airport_IATA_code']

In [ ]:
from_merge['From_airport_exists']=from_merge['Airport_name'].str.contains(r"[A-Z]")
dest_merge['Dest_airport_exists']=dest_merge['Airport_name'].str.contains(r"[A-Z]")
#from_merge[from_merge['Airport_name'].str.contains('NaN')==False]
#new_df = df[df["col"].str.contains(word) == False]

In [ ]:
import Levenshtein as lev

In [ ]:
import pandas as pd
from textdistance import levenshtein

attempts = [['passw0rd', 'pasw0rd'],
            ['passwrd', 'psword'],
            ['psw0rd', 'passwor'],
            ['helloworld', 'heloworl']]

df=pd.DataFrame(attempts, columns=['password', 'attempt'])

df.apply(lambda x: levenshtein.distance(x['password'],  x['attempt']), axis=1)

In [ ]:
#best_match_results_pd[['results','true']] = 
best_match_results_pd['results'].str.split('-',expand=True)
#df[['V','allele']] = df['V'].str.split('-',expand=True)

In [ ]:
best_match_results_pd.iloc[1, 0]

In [ ]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()
similar("Apple","Appel")

In [ ]:
round(SequenceMatcher(None, 'WBE6935NU', 'HCA3158QA6').ratio(),3)
round(SequenceMatcher(None, 'UES9151GS5', 'UES915*GS5').ratio(),3)
round(SequenceMatcher(None, 'UES915*GS5', 'UES9151GS5').ratio(),3)

In [ ]:
install python-Levenshtein

In [ ]:
f = 'SPRb484HA6'
test_best_true = pd.DataFrame()
for t in true:
    ratio = round(SequenceMatcher(None, t, f).ratio(),3)
    print(t, ratio)
    #test_best_true = test_best_true.append(ratio)

In [ ]:
#final_true
#str(final_true)[1:-1] 
#test_best_true
#max_true