# CSMCC16 Flight Coursework

### Import packages

In [145]:
import numpy as np
import pandas as pd
import datetime

In [209]:
# Import data
#pass_data = pd.read_csv('AComp_Passenger_data.csv',header=None)
pass_data = pd.read_csv('AComp_Passenger_data_no_error.csv',header=None)
pass_datet = pd.read_csv('AComp_Passenger_data_no_error_DateTime.csv',header=None)
airport_lat_lon = pd.read_csv('Top30_airports_LatLong.csv',header=None)

In [210]:
pass_data

              0         1    2    3           4     5
0    UES9151GS5  SQU6245R  DEN  FRA  1420564460  1049
1    UES9151GS5  XXQ4064B  JFK  FRA  1420563917   802
2    EZC9678QI6  SOH3431A  ORD  MIA  1420563649   250
3    ONL0812DH1  SOH3431A  ORD  MIA  1420563649   250
4    CYJ0225CH1  PME8178S  DEN  PEK  1420564409  1322
..          ...       ...  ...  ...         ...   ...
495  BWI0520BG6  BER7172M  KUL  LAS  1420565167  1848
496  LLZ3798PE3  EWH6301Y  CAN  DFW  1420564967  1683
497  KKP5277HZ7  KJR6646J  IAH  BKK  1420565203  1928
498  JJM4724RF7  XXQ4064B  JFK  FRA  1420563917   802
499  SJD8775RZ4  WSK1289Z  CLT  DEN  1420563542   278

[500 rows x 6 columns]

In [211]:
# Create as dataframes
pass_data_df = pd.DataFrame(pass_data)
pass_datet_df = pd.DataFrame(pass_datet)
airport_df = pd.DataFrame(airport_lat_lon)

In [212]:
# Add Column Names
pass_data_df.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min']
airport_df.columns = ['Airport_name'
                        ,'Airport_IATA_code'
                        ,'Latitude'
                        ,'Longitude']
pass_datet_df.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Departure_date_time'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min'
                        ,'Arrive_date_time'
]

In [213]:
#Calculate epoch Arrival Time
pass_data_df['Arrive_epoch'] = pass_data_df['Depart_time_epoch']+pass_data_df['Flight_time_min']*60
#Convert epoch to datetime
pass_data_df['Depart_time_datetime'] = pd.to_datetime(pass_data_df['Depart_time_epoch'],unit='s')
pass_data_df['Arrive_time_datetime'] = pd.to_datetime(pass_data_df['Arrive_epoch'],unit='s')

In [220]:
#And new datetime formats
pass_data_df['Depart_day_month']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y")
#pass_data_df['Depart_day_datetime']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y %H:%M:%S")
pass_data_df['Depart_time']=pass_data_df['Depart_time_datetime'].dt.strftime("%H:%M:%S")
pass_data_df['Arrive_time']=pass_data_df['Arrive_time_datetime'].dt.strftime("%H:%M:%S")

In [221]:
#check data
pass_data_df

,Passenger_id,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_time_epoch,Flight_time_min,Depart_time_datetime,Arrive_epoch,Arrive_time_datetime,Depart_time_datetime_day_month,Depart_time,Arrive_time,Depart_day_month
0,UES9151GS5,SQU6245R,DEN,FRA,1420564460,1049,2015-01-06 17:14:20,1420627400,2015-01-07 10:43:20,Tue 06/Jan/2015 17:14:20,17:14:20,10:43:20,Tue 06/Jan/2015
1,UES9151GS5,XXQ4064B,JFK,FRA,1420563917,802,2015-01-06 17:05:17,1420612037,2015-01-07 06:27:17,Tue 06/Jan/2015 17:05:17,17:05:17,06:27:17,Tue 06/Jan/2015
2,EZC9678QI6,SOH3431A,ORD,MIA,1420563649,250,2015-01-06 17:00:49,1420578649,2015-01-06 21:10:49,Tue 06/Jan/2015 17:00:49,17:00:49,21:10:49,Tue 06/Jan/2015
3,ONL0812DH1,SOH3431A,ORD,MIA,1420563649,250,2015-01-06 17:00:49,1420578649,2015-01-06 21:10:49,Tue 06/Jan/2015 17:00:49,17:00:49,21:10:49,Tue 06/Jan/2015
4,CYJ0225CH1,PME8178S,DEN,PEK,1420564409,1322,2015-01-06 17:13:29,1420643729,2015-01-07 15:15:29,Tue 06/Jan/2015 17:13:29,17:13:29,15:15:29,Tue 06/Jan/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,BWI0520BG6,BER7172M,KUL,LAS,1420565167,1848,2015-01-06 17:26:07,1420676047,2015-01-08 00:14:07,Tue 06/Jan/2015 17:26:07,17:26:07,00:14:07,Tue 06/Jan/2015
496,LLZ3798PE3,EWH6301Y,CAN,DFW,1420564967,1683,2015-01-06 17:22:47,1420665947,2015-01-07 21:25:47,Tue 06/Jan/2015 17:22:47,17:22:47,21:25:47,Tue 06/Jan/2015
497,KKP5277HZ7,KJR6646J,IAH,BKK,1420565203,1928,2015-01-06 17:26:43,1420680883,2015-01-08 01:34:43,Tue 06/Jan/2015 17:26:43,17:26:43,01:34:43,Tue 06/Jan/2015
498,JJM4724RF7,XXQ4064B,JFK,FRA,1420563917,802,2015-01-06 17:05:17,1420612037,2015-01-07 06:27:17,Tue 06/Jan/2015 17:05:17,17:05:17,06:27:17,Tue 06/Jan/2015
499,SJD8775RZ4,WSK1289Z,CLT,DEN,1420563542,278,2015-01-06 16:59:02,1420580222,2015-01-06 21:37:02,Tue 06/Jan/2015 16:59:02,16:59:02,21:37:02,Tue 06/Jan/2015

In [120]:
# Check data
print(pass_data_df)
print(pass_datet_df)
print(airport_df)

    Passenger_id Flight_id From_airport_IATA Dest_airport_IATA  \
0     UES9151GS5  SQU6245R               DEN               FRA
1     UES9151GS5  XXQ4064B               JFK               FRA
2     EZC9678QI6  SOH3431A               ORD               MIA
3     ONL0812DH1  SOH3431A               ORD               MIA
4     CYJ0225CH1  PME8178S               DEN               PEK
..           ...       ...               ...               ...
495   BWI0520BG6  BER7172M               KUL               LAS
496   LLZ3798PE3  EWH6301Y               CAN               DFW
497   KKP5277HZ7  KJR6646J               IAH               BKK
498   JJM4724RF7  XXQ4064B               JFK               FRA
499   SJD8775RZ4  WSK1289Z               CLT               DEN

     Depart_time_epoch  Flight_time_min
0           1420564460             1049
1           1420563917              802
2           1420563649              250
3           1420563649              250
4           1420564409             1322
..                 ...              ...
495         1420565167             1848
496         1420564967             1683
497         1420565203             1928
498         1420563917              802
499         1420563542              278

[500 rows x 6 columns]
    Passenger_id Flight_id From_airport_IATA Dest_airport_IATA  \
0     UES9151GS5  SQU6245R               DEN               FRA
1     UES9151GS5  XXQ4064B               JFK               FRA
2     EZC9678QI6  SOH3431A               ORD               MIA
3     ONL0812DH1  SOH3431A               ORD               MIA
4     CYJ0225CH1  PME8178S               DEN               PEK
..           ...       ...               ...               ...
495   BWI0520BG6  BER7172M               KUL               LAS
496   LLZ3798PE3  EWH6301Y               CAN               DFW
497   KKP5277HZ7  KJR6646J               IAH               BKK
498   JJM4724RF7  XXQ4064B               JFK               FRA
499   SJD8775RZ4  WSK1289Z               CLT               DEN

     Departure_date_time         Depart_time_epoch  Flight_time_min  \
0             1420564460  Tue Jan  6 17:14:20 2015             1049
1             1420563917  Tue Jan  6 17:05:17 2015              802
2             1420563649  Tue Jan  6 17:00:49 2015              250
3             1420563649  Tue Jan  6 17:00:49 2015              250
4             1420564409  Tue Jan  6 17:13:29 2015             1322
..                   ...                       ...              ...
495           1420565167  Tue Jan  6 17:26:07 2015             1848
496           1420564967  Tue Jan  6 17:22:47 2015             1683
497           1420565203  Tue Jan  6 17:26:43 2015             1928
498           1420563917  Tue Jan  6 17:05:17 2015              802
499           1420563542  Tue Jan  6 16:59:02 2015              278

             Arrive_date_time
0    Wed Jan  7 10:43:20 2015
1    Wed Jan  7 06:27:17 2015
2    Tue Jan  6 21:10:49 2015
3    Tue Jan  6 21:10:49 2015
4    Wed Jan  7 15:15:29 2015
..                        ...
495  Thu Jan  8 00:14:07 2015
496  Wed Jan  7 21:25:47 2015
497  Thu Jan  8 01:34:43 2015
498  Wed Jan  7 06:27:17 2015
499  Tue Jan  6 21:37:02 2015

[500 rows x 8 columns]
         Airport_name Airport_IATA_code   Latitude   Longitude
0             ATLANTA               ATL  33.636719  -84.428067
1             BEIJING               PEK  40.080111  116.584556
2              LONDON               LHR  51.477500   -0.461389
3             CHICAGO               ORD  41.978603  -87.904842
4               TOKYO               HND  35.552258  139.779694
5         LOS ANGELES               LAX  33.942536 -118.408075
6               PARIS               CDG  49.012779    2.550000
7   DALLAS/FORT WORTH               DFW  32.896828  -97.037997
8           FRANKFURT               FRA  50.026421    8.543125
9           HONG KONG               HKG  22.308919  113.914603
10             DENVER               DEN  39.861656 -104.673178
11              DUBAI               DXB  25.252778   55.364444
12            JAKARTA               CGK  -6.125567  106.655897
13          AMSTERDAM               AMS  52.308613    4.763889
14             MADRID               MAD  40.493556   -3.566764
15            BANGKOK               BKK  13.681108  100.747283
16           NEW YORK               JFK  40.639751  -73.778925
17          SINGAPORE               SIN   1.350189  103.994433
18          GUANGZHOU               CAN  23.392436  113.298786
19          LAS VEGAS               LAS  36.080056 -115.152250
20           SHANGHAI               PVG  31.143378  121.805214
21      SAN FRANCISCO               SFO  37.618972 -122.374889
22            PHOENIX               PHX  33.434278 -112.011583
23            HOUSTON               IAH  29.984433  -95.341442
24          CHARLOTTE               CLT  35.214000  -80.943139
25              MIAMI               MIA  25.793250  -80.290556
26             MUNICH               MUC  48.353783   11.786086
27       KUALA LUMPUR               KUL   2.745578  101.709917
28               ROME               FCO  41.804475   12.250797
29           ISTANBUL               IST  40.976922   28.814606

## Objective 1: 
### Determine the number of flights from each airport; include a list of any airports not used.

In [121]:
# List of top 30 airports
obj_1_list = airport_df['Airport_IATA_code']
obj_1_list.columns = ['From_airport_IATA']
obj_1_list_df = pd.DataFrame(obj_1_list)

In [74]:
#check data
obj_1_list_df

   Airport_IATA_code
0                ATL
1                PEK
2                LHR
3                ORD
4                HND
5                LAX
6                CDG
7                DFW
8                FRA
9                HKG
10               DEN
11               DXB
12               CGK
13               AMS
14               MAD
15               BKK
16               JFK
17               SIN
18               CAN
19               LAS
20               PVG
21               SFO
22               PHX
23               IAH
24               CLT
25               MIA
26               MUC
27               KUL
28               FCO
29               IST

In [130]:
# Count number of departure flights
from_df = pass_data_df['From_airport_IATA']
from_counts = from_df.value_counts()
from_counts_df = pd.DataFrame(from_counts)
# move index to column
from_counts_df['Airport_IATA_code'] =from_counts_df.index

In [132]:
#Check data
print(from_df)
print(from_counts)
print(from_counts_df)

0      DEN
1      JFK
2      ORD
3      ORD
4      DEN
      ...
495    KUL
496    CAN
497    IAH
498    JFK
499    CLT
Name: From_airport_IATA, Length: 500, dtype: object
DEN    46
CAN    37
IAH    37
ATL    36
KUL    33
ORD    33
CGK    27
JFK    25
LHR    25
CLT    21
CDG    21
PVG    20
BKK    17
LAS    17
AMS    15
FCO    15
MUC    14
HND    13
MAD    13
PEK    13
DFW    11
MIA    11
Name: From_airport_IATA, dtype: int64
     From_airport_IATA Airport_IATA_code
DEN                 46               DEN
CAN                 37               CAN
IAH                 37               IAH
ATL                 36               ATL
KUL                 33               KUL
ORD                 33               ORD
CGK                 27               CGK
JFK                 25               JFK
LHR                 25               LHR
CLT                 21               CLT
CDG                 21               CDG
PVG                 20               PVG
BKK                 17               BKK
LAS                 17               LAS
AMS                 15               AMS
FCO                 15               FCO
MUC                 14               MUC
HND                 13               HND
MAD                 13               MAD
PEK                 13               PEK
DFW                 11               DFW
MIA                 11               MIA

In [134]:
# merge full list of airports with number of flights from each airport
obj1 = obj_1_list_df.merge(from_counts_df, how='outer', on=['Airport_IATA_code', 'Airport_IATA_code'])

In [136]:
# clean up results
obj1=obj1.fillna(0)
obj1=obj1.sort_values(by=['From_airport_IATA'], ascending=False)
obj1

   Airport_IATA_code  From_airport_IATA
10               DEN               46.0
23               IAH               37.0
18               CAN               37.0
0                ATL               36.0
3                ORD               33.0
27               KUL               33.0
12               CGK               27.0
16               JFK               25.0
2                LHR               25.0
24               CLT               21.0
6                CDG               21.0
20               PVG               20.0
19               LAS               17.0
15               BKK               17.0
28               FCO               15.0
13               AMS               15.0
26               MUC               14.0
14               MAD               13.0
1                PEK               13.0
4                HND               13.0
7                DFW               11.0
25               MIA               11.0
17               SIN                0.0
11               DXB                0.0
9                HKG                0.0
8                FRA                0.0
21               SFO                0.0
22               PHX                0.0
5                LAX                0.0
29               IST                0.0

## Objective 2
### Create a list of flights based on the Flight id, this output should include the passenger Id, relevant IATA/FAA codes, the departure time, the arrival time (times to be converted to HH:MM:SS format), and the flight times.

## Objective 3
### Calculate the number of passengers on each flight.

In [233]:
#select data for objective 2
obj2_data = pass_data_df[['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Arrive_time'
                      ,'Flight_time_min'
                      ,'Passenger_id']]

In [234]:
obj2_data.groupby(['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Arrive_time'
                      ,'Flight_time_min']).count()

                                                                                                        Passenger_id
Flight_id From_airport_IATA Dest_airport_IATA Depart_day_month Depart_time Arrive_time Flight_time_min
ATT7791R  AMS               DEN               Tue 06/Jan/2015  17:13:14    09:54:14    1001                       15
BER7172M  KUL               LAS               Tue 06/Jan/2015  17:26:07    00:14:07    1848                       17
DAU2617A  CGK               SFO               Tue 06/Jan/2015  17:23:06    23:34:06    1811                       12
DKZ3042O  MIA               SFO               Tue 06/Jan/2015  17:05:27    02:03:27    538                        11
EWH6301Y  CAN               DFW               Tue 06/Jan/2015  17:22:47    21:25:47    1683                       10
FYL5866L  ATL               HKG               Tue 06/Jan/2015  17:25:40    22:36:40    1751                       20
GMO5938W  LHR               PEK               Tue 06/Jan/2015  17:11:57    10:48:57    1057                       25
HUR0974O  DEN               PVG               Tue 06/Jan/2015  17:15:25    16:33:25    1398                        7
HZT2506M  IAH               AMS               Tue 06/Jan/2015  17:12:04    10:36:04    1044                       14
JVY9791G  PVG               FCO               Tue 06/Jan/2015  17:16:01    13:05:01    1189                       20
KJR6646J  IAH               BKK               Tue 06/Jan/2015  17:26:43    01:34:43    1928                       23
MBA8071P  KUL               PEK               Tue 06/Jan/2015  17:04:16    02:36:16    572                        16
MOO1786A  MAD               FRA               Tue 06/Jan/2015  16:56:48    20:00:48    184                        13
PME8178S  DEN               PEK               Tue 06/Jan/2015  17:13:29    15:15:29    1322                       18
QHU1140O  CDG               LAS               Tue 06/Jan/2015  17:14:58    12:07:58    1133                       21
RPG3351U  HND               CAN               Tue 06/Jan/2015  16:59:29    23:13:29    374                        13
RUM0422W  MUC               MAD               Tue 06/Jan/2015  16:58:59    20:12:59    194                        14
SOH3431A  ORD               MIA               Tue 06/Jan/2015  17:00:49    21:10:49    250                        18
SQU6245R  DEN               FRA               Tue 06/Jan/2015  17:14:20    10:43:20    1049                       21
TMV7633W  CGK               DXB               Tue 06/Jan/2015  17:05:58    07:14:58    849                        15
ULZ8130D  CAN               DFW               Tue 06/Jan/2015  17:23:03    21:26:03    1683                       27
VDC9164W  FCO               LAS               Tue 06/Jan/2015  17:18:18    14:34:18    1276                       15
VYU9214I  ORD               DXB               Tue 06/Jan/2015  17:18:36    18:28:36    1510                       15
VYW5940P  LAS               SIN               Tue 06/Jan/2015  17:26:43    00:09:43    1843                       17
WPW9201U  DFW               PEK               Tue 06/Jan/2015  17:21:09    17:33:09    1452                       11
WSK1289Z  CLT               DEN               Tue 06/Jan/2015  16:59:02    21:37:02    278                        21
XIL3623J  PEK               LAX               Tue 06/Jan/2015  17:13:34    14:55:34    1302                       13
XOY7948U  ATL               LHR               Tue 06/Jan/2015  17:07:18    07:44:18    877                        16
XXQ4064B  JFK               FRA               Tue 06/Jan/2015  17:05:17    06:27:17    802                        25
YZO4444S  BKK               MIA               Tue 06/Jan/2015  17:28:50    03:15:50    2027                       17

# old code, maybe useful

In [68]:
pass_data_df.value_counts(['From_airport_IATA'])

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [58]:
pass_data_df.groupby(['From_airport_IATA']).count()

,Passenger_id,Flight_id,Dest_airport_IATA,Depart_time_epoch,Flight_time_min
From_airport_IATA,,,,,
AMS,15,15,15,15,15
ATL,36,36,36,36,36
BKK,17,17,17,17,17
CAN,37,37,37,37,37
CDG,21,21,21,21,21
CGK,27,27,27,27,27
CLT,21,21,21,21,21
DEN,46,46,46,46,46
DFW,11,11,11,11,11
FCO,15,15,15,15,15
HND,13,13,13,13,13
IAH,37,37,37,37,37
JFK,25,25,25,25,25
KUL,33,33,33,33,33
LAS,17,17,17,17,17
LHR,25,25,25,25,25
MAD,13,13,13,13,13
MIA,11,11,11,11,11
MUC,14,14,14,14,14
ORD,33,33,33,33,33
PEK,13,13,13,13,13
PVG,20,20,20,20,20

In [54]:
#pass_data_df.set_index(["From_airport_IATA"]).count(level="From_airport_IATA")
pass_data_df.count(axis="From_airport_IATA")

ValueError: No axis named From_airport_IATA for object type <class 'pandas.core.frame.DataFrame'>

In [ ]:
#pd.concat([obj_1_list_df, from_counts_df], keys=['Airport_IATA_code','Airport_IATA_code'])

In [152]:
#pass_data_df['Depart_time_epoch'].dt.strftime("%m/%d/%y")
#pass_data_df['Depart_time_epoch']=
(pd.to_datetime(pass_data_df['Depart_time_epoch'],unit='s'))

0     2015-01-06 17:14:20
1     2015-01-06 17:05:17
2     2015-01-06 17:00:49
3     2015-01-06 17:00:49
4     2015-01-06 17:13:29
              ...
495   2015-01-06 17:26:07
496   2015-01-06 17:22:47
497   2015-01-06 17:26:43
498   2015-01-06 17:05:17
499   2015-01-06 16:59:02
Name: Depart_time_epoch, Length: 500, dtype: datetime64[ns]