# CSMCC16 Flight Coursework

### Import packages

In [304]:
import numpy as np
import pandas as pd
import datetime
import math

In [209]:
# Import data
#pass_data = pd.read_csv('AComp_Passenger_data.csv',header=None)
pass_data = pd.read_csv('AComp_Passenger_data_no_error.csv',header=None)
pass_datet = pd.read_csv('AComp_Passenger_data_no_error_DateTime.csv',header=None)
airport_lat_lon = pd.read_csv('Top30_airports_LatLong.csv',header=None)

In [210]:
pass_data

              0         1    2    3           4     5
0    UES9151GS5  SQU6245R  DEN  FRA  1420564460  1049
1    UES9151GS5  XXQ4064B  JFK  FRA  1420563917   802
2    EZC9678QI6  SOH3431A  ORD  MIA  1420563649   250
3    ONL0812DH1  SOH3431A  ORD  MIA  1420563649   250
4    CYJ0225CH1  PME8178S  DEN  PEK  1420564409  1322
..          ...       ...  ...  ...         ...   ...
495  BWI0520BG6  BER7172M  KUL  LAS  1420565167  1848
496  LLZ3798PE3  EWH6301Y  CAN  DFW  1420564967  1683
497  KKP5277HZ7  KJR6646J  IAH  BKK  1420565203  1928
498  JJM4724RF7  XXQ4064B  JFK  FRA  1420563917   802
499  SJD8775RZ4  WSK1289Z  CLT  DEN  1420563542   278

[500 rows x 6 columns]

In [211]:
# Create as dataframes
pass_data_df = pd.DataFrame(pass_data)
pass_datet_df = pd.DataFrame(pass_datet)
airport_df = pd.DataFrame(airport_lat_lon)

In [212]:
# Add Column Names
pass_data_df.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min']
airport_df.columns = ['Airport_name'
                        ,'Airport_IATA_code'
                        ,'Latitude'
                        ,'Longitude']
pass_datet_df.columns = ['Passenger_id'
                        ,'Flight_id'
                        ,'From_airport_IATA'
                        ,'Dest_airport_IATA'
                        ,'Departure_date_time'
                        ,'Depart_time_epoch'
                        ,'Flight_time_min'
                        ,'Arrive_date_time'
]

In [213]:
#Calculate epoch Arrival Time
pass_data_df['Arrive_epoch'] = pass_data_df['Depart_time_epoch']+pass_data_df['Flight_time_min']*60
#Convert epoch to datetime
pass_data_df['Depart_time_datetime'] = pd.to_datetime(pass_data_df['Depart_time_epoch'],unit='s')
pass_data_df['Arrive_time_datetime'] = pd.to_datetime(pass_data_df['Arrive_epoch'],unit='s')

In [220]:
#And new datetime formats
pass_data_df['Depart_day_month']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y")
#pass_data_df['Depart_day_datetime']=pass_data_df['Depart_time_datetime'].dt.strftime("%a %d/%b/%Y %H:%M:%S")
pass_data_df['Depart_time']=pass_data_df['Depart_time_datetime'].dt.strftime("%H:%M:%S")
pass_data_df['Arrive_time']=pass_data_df['Arrive_time_datetime'].dt.strftime("%H:%M:%S")

In [120]:
# Check data
print(pass_data_df)
print(pass_datet_df)
print(airport_df)

    Passenger_id Flight_id From_airport_IATA Dest_airport_IATA  \
0     UES9151GS5  SQU6245R               DEN               FRA
1     UES9151GS5  XXQ4064B               JFK               FRA
2     EZC9678QI6  SOH3431A               ORD               MIA
3     ONL0812DH1  SOH3431A               ORD               MIA
4     CYJ0225CH1  PME8178S               DEN               PEK
..           ...       ...               ...               ...
495   BWI0520BG6  BER7172M               KUL               LAS
496   LLZ3798PE3  EWH6301Y               CAN               DFW
497   KKP5277HZ7  KJR6646J               IAH               BKK
498   JJM4724RF7  XXQ4064B               JFK               FRA
499   SJD8775RZ4  WSK1289Z               CLT               DEN

     Depart_time_epoch  Flight_time_min
0           1420564460             1049
1           1420563917              802
2           1420563649              250
3           1420563649              250
4           1420564409             1322
..                 ...              ...
495         1420565167             1848
496         1420564967             1683
497         1420565203             1928
498         1420563917              802
499         1420563542              278

[500 rows x 6 columns]
    Passenger_id Flight_id From_airport_IATA Dest_airport_IATA  \
0     UES9151GS5  SQU6245R               DEN               FRA
1     UES9151GS5  XXQ4064B               JFK               FRA
2     EZC9678QI6  SOH3431A               ORD               MIA
3     ONL0812DH1  SOH3431A               ORD               MIA
4     CYJ0225CH1  PME8178S               DEN               PEK
..           ...       ...               ...               ...
495   BWI0520BG6  BER7172M               KUL               LAS
496   LLZ3798PE3  EWH6301Y               CAN               DFW
497   KKP5277HZ7  KJR6646J               IAH               BKK
498   JJM4724RF7  XXQ4064B               JFK               FRA
499   SJD8775RZ4  WSK1289Z               CLT               DEN

     Departure_date_time         Depart_time_epoch  Flight_time_min  \
0             1420564460  Tue Jan  6 17:14:20 2015             1049
1             1420563917  Tue Jan  6 17:05:17 2015              802
2             1420563649  Tue Jan  6 17:00:49 2015              250
3             1420563649  Tue Jan  6 17:00:49 2015              250
4             1420564409  Tue Jan  6 17:13:29 2015             1322
..                   ...                       ...              ...
495           1420565167  Tue Jan  6 17:26:07 2015             1848
496           1420564967  Tue Jan  6 17:22:47 2015             1683
497           1420565203  Tue Jan  6 17:26:43 2015             1928
498           1420563917  Tue Jan  6 17:05:17 2015              802
499           1420563542  Tue Jan  6 16:59:02 2015              278

             Arrive_date_time
0    Wed Jan  7 10:43:20 2015
1    Wed Jan  7 06:27:17 2015
2    Tue Jan  6 21:10:49 2015
3    Tue Jan  6 21:10:49 2015
4    Wed Jan  7 15:15:29 2015
..                        ...
495  Thu Jan  8 00:14:07 2015
496  Wed Jan  7 21:25:47 2015
497  Thu Jan  8 01:34:43 2015
498  Wed Jan  7 06:27:17 2015
499  Tue Jan  6 21:37:02 2015

[500 rows x 8 columns]
         Airport_name Airport_IATA_code   Latitude   Longitude
0             ATLANTA               ATL  33.636719  -84.428067
1             BEIJING               PEK  40.080111  116.584556
2              LONDON               LHR  51.477500   -0.461389
3             CHICAGO               ORD  41.978603  -87.904842
4               TOKYO               HND  35.552258  139.779694
5         LOS ANGELES               LAX  33.942536 -118.408075
6               PARIS               CDG  49.012779    2.550000
7   DALLAS/FORT WORTH               DFW  32.896828  -97.037997
8           FRANKFURT               FRA  50.026421    8.543125
9           HONG KONG               HKG  22.308919  113.914603
10             DENVER               DEN  39.861656 -104.673178
11              DUBAI               DXB  25.252778   55.364444
12            JAKARTA               CGK  -6.125567  106.655897
13          AMSTERDAM               AMS  52.308613    4.763889
14             MADRID               MAD  40.493556   -3.566764
15            BANGKOK               BKK  13.681108  100.747283
16           NEW YORK               JFK  40.639751  -73.778925
17          SINGAPORE               SIN   1.350189  103.994433
18          GUANGZHOU               CAN  23.392436  113.298786
19          LAS VEGAS               LAS  36.080056 -115.152250
20           SHANGHAI               PVG  31.143378  121.805214
21      SAN FRANCISCO               SFO  37.618972 -122.374889
22            PHOENIX               PHX  33.434278 -112.011583
23            HOUSTON               IAH  29.984433  -95.341442
24          CHARLOTTE               CLT  35.214000  -80.943139
25              MIAMI               MIA  25.793250  -80.290556
26             MUNICH               MUC  48.353783   11.786086
27       KUALA LUMPUR               KUL   2.745578  101.709917
28               ROME               FCO  41.804475   12.250797
29           ISTANBUL               IST  40.976922   28.814606

## Objective 1: 
### Determine the number of flights from each airport; include a list of any airports not used.

In [121]:
# List of top 30 airports
obj_1_list = airport_df['Airport_IATA_code']
obj_1_list.columns = ['From_airport_IATA']
obj_1_list_df = pd.DataFrame(obj_1_list)

In [74]:
#check data
obj_1_list_df

   Airport_IATA_code
0                ATL
1                PEK
2                LHR
3                ORD
4                HND
5                LAX
6                CDG
7                DFW
8                FRA
9                HKG
10               DEN
11               DXB
12               CGK
13               AMS
14               MAD
15               BKK
16               JFK
17               SIN
18               CAN
19               LAS
20               PVG
21               SFO
22               PHX
23               IAH
24               CLT
25               MIA
26               MUC
27               KUL
28               FCO
29               IST

In [130]:
# Count number of departure flights
from_df = pass_data_df['From_airport_IATA']
from_counts = from_df.value_counts()
from_counts_df = pd.DataFrame(from_counts)
# move index to column
from_counts_df['Airport_IATA_code'] =from_counts_df.index

In [132]:
#Check data
print(from_df)
print(from_counts)
print(from_counts_df)

0      DEN
1      JFK
2      ORD
3      ORD
4      DEN
      ...
495    KUL
496    CAN
497    IAH
498    JFK
499    CLT
Name: From_airport_IATA, Length: 500, dtype: object
DEN    46
CAN    37
IAH    37
ATL    36
KUL    33
ORD    33
CGK    27
JFK    25
LHR    25
CLT    21
CDG    21
PVG    20
BKK    17
LAS    17
AMS    15
FCO    15
MUC    14
HND    13
MAD    13
PEK    13
DFW    11
MIA    11
Name: From_airport_IATA, dtype: int64
     From_airport_IATA Airport_IATA_code
DEN                 46               DEN
CAN                 37               CAN
IAH                 37               IAH
ATL                 36               ATL
KUL                 33               KUL
ORD                 33               ORD
CGK                 27               CGK
JFK                 25               JFK
LHR                 25               LHR
CLT                 21               CLT
CDG                 21               CDG
PVG                 20               PVG
BKK                 17               BKK
LAS                 17               LAS
AMS                 15               AMS
FCO                 15               FCO
MUC                 14               MUC
HND                 13               HND
MAD                 13               MAD
PEK                 13               PEK
DFW                 11               DFW
MIA                 11               MIA

In [257]:
# merge full list of airports with number of flights from each airport
obj1 = obj_1_list_df.merge(from_counts_df, how='outer', on=['Airport_IATA_code', 'Airport_IATA_code'])

   Airport_IATA_code  From_airport_IATA
0                ATL               36.0
1                PEK               13.0
2                LHR               25.0
3                ORD               33.0
4                HND               13.0
5                LAX                NaN
6                CDG               21.0
7                DFW               11.0
8                FRA                NaN
9                HKG                NaN
10               DEN               46.0
11               DXB                NaN
12               CGK               27.0
13               AMS               15.0
14               MAD               13.0
15               BKK               17.0
16               JFK               25.0
17               SIN                NaN
18               CAN               37.0
19               LAS               17.0
20               PVG               20.0
21               SFO                NaN
22               PHX                NaN
23               IAH               37.0
24               CLT               21.0
25               MIA               11.0
26               MUC               14.0
27               KUL               33.0
28               FCO               15.0
29               IST                NaN

In [365]:
# clean up results
obj1=obj1.fillna(0)
obj1=obj1.sort_values(by=['From_airport_IATA','Airport_IATA_code'], ascending=[False,True])
obj1.set_index('Airport_IATA_code', inplace=True, drop=True)
obj1

                   From_airport_IATA
Airport_IATA_code
DEN                             46.0
CAN                             37.0
IAH                             37.0
ATL                             36.0
KUL                             33.0
ORD                             33.0
CGK                             27.0
JFK                             25.0
LHR                             25.0
CDG                             21.0
CLT                             21.0
PVG                             20.0
BKK                             17.0
LAS                             17.0
AMS                             15.0
FCO                             15.0
MUC                             14.0
HND                             13.0
MAD                             13.0
PEK                             13.0
DFW                             11.0
MIA                             11.0
DXB                              0.0
FRA                              0.0
HKG                              0.0
IST                              0.0
LAX                              0.0
PHX                              0.0
SFO                              0.0
SIN                              0.0

## Objective 2
### Create a list of flights based on the Flight id, this output should include the passenger Id, relevant IATA/FAA codes, the departure time, the arrival time (times to be converted to HH:MM:SS format), and the flight times.

In [368]:
#select data for objective 2
obj2_data = pass_data_df[['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Arrive_time'
                      ,'Flight_time_min'
                      ,'Passenger_id']]

## Objective 3
### Calculate the number of passengers on each flight.

In [369]:
obj2_results = obj2_data.groupby(['Flight_id'
                      ,'From_airport_IATA'
                      ,'Dest_airport_IATA'
                      ,'Depart_day_month'
                      ,'Depart_time'
                      ,'Arrive_time'
                      ,'Flight_time_min']).count()
#reset index as columns
obj2_results.reset_index(inplace=True)
obj2_results

,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_day_month,Depart_time,Arrive_time,Flight_time_min,Passenger_id
0,ATT7791R,AMS,DEN,Tue 06/Jan/2015,17:13:14,09:54:14,1001,15
1,BER7172M,KUL,LAS,Tue 06/Jan/2015,17:26:07,00:14:07,1848,17
2,DAU2617A,CGK,SFO,Tue 06/Jan/2015,17:23:06,23:34:06,1811,12
3,DKZ3042O,MIA,SFO,Tue 06/Jan/2015,17:05:27,02:03:27,538,11
4,EWH6301Y,CAN,DFW,Tue 06/Jan/2015,17:22:47,21:25:47,1683,10
5,FYL5866L,ATL,HKG,Tue 06/Jan/2015,17:25:40,22:36:40,1751,20
6,GMO5938W,LHR,PEK,Tue 06/Jan/2015,17:11:57,10:48:57,1057,25
7,HUR0974O,DEN,PVG,Tue 06/Jan/2015,17:15:25,16:33:25,1398,7
8,HZT2506M,IAH,AMS,Tue 06/Jan/2015,17:12:04,10:36:04,1044,14
9,JVY9791G,PVG,FCO,Tue 06/Jan/2015,17:16:01,13:05:01,1189,20
10,KJR6646J,IAH,BKK,Tue 06/Jan/2015,17:26:43,01:34:43,1928,23
11,MBA8071P,KUL,PEK,Tue 06/Jan/2015,17:04:16,02:36:16,572,16
12,MOO1786A,MAD,FRA,Tue 06/Jan/2015,16:56:48,20:00:48,184,13
13,PME8178S,DEN,PEK,Tue 06/Jan/2015,17:13:29,15:15:29,1322,18
14,QHU1140O,CDG,LAS,Tue 06/Jan/2015,17:14:58,12:07:58,1133,21
15,RPG3351U,HND,CAN,Tue 06/Jan/2015,16:59:29,23:13:29,374,13
16,RUM0422W,MUC,MAD,Tue 06/Jan/2015,16:58:59,20:12:59,194,14
17,SOH3431A,ORD,MIA,Tue 06/Jan/2015,17:00:49,21:10:49,250,18
18,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,21
19,TMV7633W,CGK,DXB,Tue 06/Jan/2015,17:05:58,07:14:58,849,15
20,ULZ8130D,CAN,DFW,Tue 06/Jan/2015,17:23:03,21:26:03,1683,27
21,VDC9164W,FCO,LAS,Tue 06/Jan/2015,17:18:18,14:34:18,1276,15
22,VYU9214I,ORD,DXB,Tue 06/Jan/2015,17:18:36,18:28:36,1510,15
23,VYW5940P,LAS,SIN,Tue 06/Jan/2015,17:26:43,00:09:43,1843,17
24,WPW9201U,DFW,PEK,Tue 06/Jan/2015,17:21:09,17:33:09,1452,11
25,WSK1289Z,CLT,DEN,Tue 06/Jan/2015,16:59:02,21:37:02,278,21
26,XIL3623J,PEK,LAX,Tue 06/Jan/2015,17:13:34,14:55:34,1302,13
27,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,16
28,XXQ4064B,JFK,FRA,Tue 06/Jan/2015,17:05:17,06:27:17,802,25
29,YZO4444S,BKK,MIA,Tue 06/Jan/2015,17:28:50,03:15:50,2027,17

## Objective 4
### Calculate the line-of-sight (nautical) miles for each flight and the total travelled by each passenger and thus output the passenger having earned the highest air miles.

In [373]:
#flight info
flight_from = obj2_results[['Flight_id','From_airport_IATA']]
flight_dest = obj2_results[['Flight_id','Dest_airport_IATA']]

In [374]:
#rename columns to allow merge
flight_from.columns = ['Flight_id'
                        ,'Airport_IATA_code']
flight_dest.columns = ['Flight_id'
                        ,'Airport_IATA_code']

In [375]:
#merge from flight with latitude and longitude
from_lat_long = flight_from.merge(airport_lat_lon, how='inner', on=['Airport_IATA_code','Airport_IATA_code'])
from_lat_long.columns = ['Flight_id'
                        ,'From_Airport_IATA_code'
                        ,'From_Airport_Name'
                        ,'From_Lat'
                        ,'From_Lon'
                    ]

In [376]:
#merge dest flight with latitude and longitude
dest_lat_lon = flight_dest.merge(airport_lat_lon, how='inner', on=['Airport_IATA_code','Airport_IATA_code'])
dest_lat_lon.columns = ['Flight_id'
                        ,'Dest_Airport_IATA_code'
                        ,'Dest_Airport_Name'
                        ,'Dest_Lat'
                        ,'Dest_Lon'
                    ]

In [377]:
#merge from flight with latitude and longitude
from_dest_lat_lon = from_lat_long.merge(dest_lat_lon, how='outer', on=['Flight_id','Flight_id'])

In [378]:
from_dest_lat_lon

,Flight_id,From_Airport_IATA_code,From_Airport_Name,From_Lat,From_Lon,Dest_Airport_IATA_code,Dest_Airport_Name,Dest_Lat,Dest_Lon
0,ATT7791R,AMS,AMSTERDAM,52.308613,4.763889,DEN,DENVER,39.861656,-104.673178
1,BER7172M,KUL,KUALA LUMPUR,2.745578,101.709917,LAS,LAS VEGAS,36.080056,-115.152250
2,MBA8071P,KUL,KUALA LUMPUR,2.745578,101.709917,PEK,BEIJING,40.080111,116.584556
3,DAU2617A,CGK,JAKARTA,-6.125567,106.655897,SFO,SAN FRANCISCO,37.618972,-122.374889
4,TMV7633W,CGK,JAKARTA,-6.125567,106.655897,DXB,DUBAI,25.252778,55.364444
5,DKZ3042O,MIA,MIAMI,25.793250,-80.290556,SFO,SAN FRANCISCO,37.618972,-122.374889
6,EWH6301Y,CAN,GUANGZHOU,23.392436,113.298786,DFW,DALLAS/FORT WORTH,32.896828,-97.037997
7,ULZ8130D,CAN,GUANGZHOU,23.392436,113.298786,DFW,DALLAS/FORT WORTH,32.896828,-97.037997
8,FYL5866L,ATL,ATLANTA,33.636719,-84.428067,HKG,HONG KONG,22.308919,113.914603
9,XOY7948U,ATL,ATLANTA,33.636719,-84.428067,LHR,LONDON,51.477500,-0.461389
10,GMO5938W,LHR,LONDON,51.477500,-0.461389,PEK,BEIJING,40.080111,116.584556
11,HUR0974O,DEN,DENVER,39.861656,-104.673178,PVG,SHANGHAI,31.143378,121.805214
12,PME8178S,DEN,DENVER,39.861656,-104.673178,PEK,BEIJING,40.080111,116.584556
13,SQU6245R,DEN,DENVER,39.861656,-104.673178,FRA,FRANKFURT,50.026421,8.543125
14,HZT2506M,IAH,HOUSTON,29.984433,-95.341442,AMS,AMSTERDAM,52.308613,4.763889
15,KJR6646J,IAH,HOUSTON,29.984433,-95.341442,BKK,BANGKOK,13.681108,100.747283
16,JVY9791G,PVG,SHANGHAI,31.143378,121.805214,FCO,ROME,41.804475,12.250797
17,MOO1786A,MAD,MADRID,40.493556,-3.566764,FRA,FRANKFURT,50.026421,8.543125
18,QHU1140O,CDG,PARIS,49.012779,2.550000,LAS,LAS VEGAS,36.080056,-115.152250
19,RPG3351U,HND,TOKYO,35.552258,139.779694,CAN,GUANGZHOU,23.392436,113.298786
20,RUM0422W,MUC,MUNICH,48.353783,11.786086,MAD,MADRID,40.493556,-3.566764
21,SOH3431A,ORD,CHICAGO,41.978603,-87.904842,MIA,MIAMI,25.793250,-80.290556
22,VYU9214I,ORD,CHICAGO,41.978603,-87.904842,DXB,DUBAI,25.252778,55.364444
23,VDC9164W,FCO,ROME,41.804475,12.250797,LAS,LAS VEGAS,36.080056,-115.152250
24,VYW5940P,LAS,LAS VEGAS,36.080056,-115.152250,SIN,SINGAPORE,1.350189,103.994433
25,WPW9201U,DFW,DALLAS/FORT WORTH,32.896828,-97.037997,PEK,BEIJING,40.080111,116.584556
26,WSK1289Z,CLT,CHARLOTTE,35.214000,-80.943139,DEN,DENVER,39.861656,-104.673178
27,XIL3623J,PEK,BEIJING,40.080111,116.584556,LAX,LOS ANGELES,33.942536,-118.408075
28,XXQ4064B,JFK,NEW YORK,40.639751,-73.778925,FRA,FRANKFURT,50.026421,8.543125
29,YZO4444S,BKK,BANGKOK,13.681108,100.747283,MIA,MIAMI,25.793250,-80.290556

In [383]:
# Calculate nautical miles (a^2+b^2=c^2)
from_dest_lat_lon['Miles'] = np.sqrt((from_dest_lat_lon['Dest_Lat']-from_dest_lat_lon['From_Lat'])**2
+(from_dest_lat_lon['Dest_Lon']-from_dest_lat_lon['From_Lon'])**2)

In [385]:
#export results
from_dest_lat_lon.to_csv(r'from_dest_lat_lon.csv')

In [386]:
# Number of miles per flight 
miles_flight = from_dest_lat_lon[['Flight_id','Miles']]
miles_flight

   Flight_id       Miles
0   ATT7791R  110.142627
1   BER7172M  219.409177
2   MBA8071P   40.188583
3   DAU2617A  233.170936
4   TMV7633W   60.128310
5   DKZ3042O   43.714286
6   EWH6301Y  210.551409
7   ULZ8130D  210.551409
8   FYL5866L  198.665885
9   XOY7948U   85.841112
10  GMO5938W  117.599548
11  HUR0974O  226.646135
12  PME8178S  221.257842
13  SQU6245R  113.671693
14  HZT2506M  102.564352
15  KJR6646J  196.765308
16  JVY9791G  110.071928
17  MOO1786A   15.411844
18  QHU1140O  118.410620
19  RPG3351U   29.139316
20  RUM0422W   17.247990
21  SOH3431A   17.886951
22  VYU9214I  144.242301
23  VDC9164W  127.531586
24  VYW5940P  221.881573
25  WPW9201U  213.743292
26  WSK1289Z   24.180890
27  XIL3623J  235.072768
28  XXQ4064B   82.855474
29  YZO4444S  181.442562

In [387]:
#Add flight miles to passenger data
obj4_data = obj2_data.merge(miles_flight, how='outer', on=['Flight_id', 'Flight_id'])
obj4_data

,Flight_id,From_airport_IATA,Dest_airport_IATA,Depart_day_month,Depart_time,Arrive_time,Flight_time_min,Passenger_id,Miles
0,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,UES9151GS5,113.671693
1,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,UES9151GS5,113.671693
2,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,JBE2302VO4,113.671693
3,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,SJD8775RZ4,113.671693
4,SQU6245R,DEN,FRA,Tue 06/Jan/2015,17:14:20,10:43:20,1049,HCA3158QA6,113.671693
...,...,...,...,...,...,...,...,...,...
495,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,HCA3158QA6,85.841112
496,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,WBE6935NU3,85.841112
497,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,SPR4484HA6,85.841112
498,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,VZY2993ME1,85.841112
499,XOY7948U,ATL,LHR,Tue 06/Jan/2015,17:07:18,07:44:18,877,YMH6360YP0,85.841112

In [344]:
#Number of miles per flight per passenger
pass_flights= pd.pivot_table(obj4_data, values='miles', index=['Passenger_id'],
               columns=['Flight_id']
              , aggfunc=np.sum
              )
pass_flights

Flight_id,ATT7791R,BER7172M,DAU2617A,DKZ3042O,EWH6301Y,FYL5866L,GMO5938W,HUR0974O,HZT2506M,JVY9791G,...,ULZ8130D,VDC9164W,VYU9214I,VYW5940P,WPW9201U,WSK1289Z,XIL3623J,XOY7948U,XXQ4064B,YZO4444S
Passenger_id,,,,,,,,,,,,,,,,,,,,,
BWI0520BG6,110.142627,219.409177,NaN,NaN,631.654226,NaN,235.199096,NaN,205.128704,220.143855,...,NaN,255.063171,NaN,665.644718,NaN,NaN,NaN,NaN,82.855474,181.442562
CDC0302NN5,NaN,NaN,NaN,NaN,NaN,198.665885,NaN,NaN,205.128704,110.071928,...,421.102818,NaN,NaN,NaN,NaN,24.180890,235.072768,NaN,82.855474,NaN
CKZ3132BR4,NaN,NaN,NaN,NaN,NaN,595.997654,117.599548,226.646135,102.564352,110.071928,...,NaN,NaN,NaN,221.881573,NaN,24.180890,235.072768,85.841112,82.855474,181.442562
CXN7304ER2,NaN,NaN,233.170936,NaN,NaN,198.665885,352.798644,NaN,NaN,110.071928,...,210.551409,127.531586,NaN,221.881573,427.486583,24.180890,NaN,85.841112,NaN,NaN
CYJ0225CH1,NaN,NaN,233.170936,NaN,NaN,NaN,117.599548,453.292270,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24.180890,235.072768,NaN,82.855474,181.442562
DAZ3029XA0,110.142627,438.818354,NaN,NaN,210.551409,NaN,117.599548,NaN,NaN,NaN,...,631.654226,127.531586,NaN,221.881573,213.743292,24.180890,235.072768,NaN,82.855474,362.885123
EDV2089LK5,110.142627,NaN,233.170936,NaN,NaN,NaN,117.599548,226.646135,NaN,NaN,...,210.551409,NaN,144.242301,NaN,NaN,48.361781,235.072768,NaN,NaN,181.442562
EZC9678QI6,110.142627,NaN,233.170936,43.714286,210.551409,198.665885,117.599548,NaN,102.564352,110.071928,...,210.551409,NaN,288.484603,443.763146,NaN,24.180890,NaN,85.841112,NaN,NaN
HCA3158QA6,NaN,219.409177,NaN,43.714286,NaN,198.665885,117.599548,NaN,NaN,110.071928,...,421.102818,NaN,144.242301,NaN,NaN,NaN,NaN,85.841112,82.855474,NaN
HGO4350KK1,NaN,219.409177,NaN,NaN,210.551409,198.665885,NaN,NaN,205.128704,110.071928,...,NaN,NaN,144.242301,NaN,213.743292,24.180890,NaN,85.841112,82.855474,181.442562
IEG9308EA5,NaN,NaN,NaN,43.714286,NaN,198.665885,117.599548,NaN,NaN,NaN,...,NaN,NaN,144.242301,NaN,NaN,NaN,NaN,85.841112,NaN,181.442562
JBE2302VO4,NaN,NaN,NaN,NaN,NaN,NaN,235.199096,NaN,102.564352,220.143855,...,210.551409,255.063171,144.242301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JJM4724RF7,NaN,NaN,NaN,43.714286,NaN,397.331770,117.599548,226.646135,205.128704,NaN,...,NaN,NaN,NaN,221.881573,427.486583,48.361781,235.072768,NaN,165.710947,181.442562
KKP5277HZ7,NaN,NaN,NaN,43.714286,NaN,NaN,NaN,NaN,102.564352,NaN,...,NaN,127.531586,NaN,665.644718,NaN,NaN,NaN,NaN,NaN,NaN
LLZ3798PE3,NaN,NaN,233.170936,NaN,210.551409,198.665885,NaN,NaN,NaN,110.071928,...,210.551409,NaN,144.242301,NaN,NaN,NaN,235.072768,NaN,82.855474,181.442562
MXU9187YC7,220.285255,NaN,233.170936,43.714286,NaN,NaN,NaN,NaN,NaN,110.071928,...,NaN,127.531586,NaN,NaN,NaN,NaN,NaN,NaN,82.855474,181.442562
ONL0812DH1,110.142627,219.409177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,210.551409,NaN,144.242301,NaN,NaN,24.180890,NaN,NaN,82.855474,NaN
PAJ3974RK1,110.142627,219.409177,NaN,NaN,210.551409,NaN,117.599548,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PIT2755XC1,110.142627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,421.102818,NaN,NaN,221.881573,NaN,24.180890,NaN,85.841112,NaN,NaN
POP2875LH3,NaN,NaN,NaN,NaN,NaN,397.331770,NaN,NaN,102.564352,220.143855,...,NaN,NaN,288.484603,221.881573,NaN,NaN,NaN,85.841112,82.855474,NaN
PUD8209OG3,NaN,658.227531,NaN,43.714286,NaN,NaN,NaN,226.646135,NaN,NaN,...,421.102818,127.531586,144.242301,NaN,NaN,NaN,NaN,NaN,331.421894,181.442562
SJD8775RZ4,NaN,219.409177,233.170936,NaN,NaN,NaN,NaN,NaN,102.564352,NaN,...,421.102818,127.531586,NaN,NaN,NaN,24.180890,NaN,NaN,165.710947,NaN
SPR4484HA6,110.142627,438.818354,NaN,43.714286,NaN,198.665885,235.199096,NaN,NaN,110.071928,...,210.551409,255.063171,NaN,443.763146,NaN,24.180890,NaN,85.841112,NaN,181.442562
UES9151GS5,220.285255,NaN,233.170936,NaN,NaN,NaN,352.798644,NaN,NaN,110.071928,...,210.551409,255.063171,NaN,221.881573,213.743292,24.180890,NaN,85.841112,165.710947,181.442562
UMH6360YP0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.855474,NaN
VZY2993ME1,NaN,NaN,NaN,NaN,421.102818,NaN,NaN,NaN,NaN,110.071928,...,631.654226,NaN,NaN,NaN,NaN,48.361781,235.072768,171.682224,NaN,181.442562
WBE6935NU3,110.142627,438.818354,233.170936,NaN,NaN,NaN,117.599548,NaN,NaN,110.071928,...,210.551409,NaN,288.484603,NaN,213.743292,NaN,NaN,85.841112,NaN,181.442562
WTC9125IE5,NaN,219.409177,NaN,87.428572,NaN,NaN,235.199096,NaN,NaN,NaN,...,210.551409,NaN,144.242301,NaN,213.743292,NaN,235.072768,85.841112,NaN,NaN
WYU2010YH8,NaN,219.409177,233.170936,NaN,NaN,397.331770,NaN,NaN,NaN,110.071928,...,210.551409,127.531586,NaN,NaN,213.743292,24.180890,470.145537,85.841112,82.855474,NaN
XFG5747ZT9,NaN,NaN,233.170936,43.714286,NaN,397.331770,NaN,226.646135,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,24.180890,NaN,NaN,82.855474,181.442562
YMH6360YP0,220.285255,NaN,233.170936,NaN,NaN,198.665885,117.599548,NaN,NaN,110.071928,...,NaN,NaN,NaN,NaN,213.743292,24.180890,470.145537,85.841112,82.855474,NaN

In [388]:
pass_flights.to_csv(r'pass_flights.csv')

In [394]:
#Add up flight miles per passenger
Pass_miles = pass_flights.sum(axis = 1, skipna = True) 
Pass_miles_df = pd.DataFrame(Pass_miles)
Pass_miles_df.columns = ['Air_miles']
Pass_miles_df = Pass_miles_df.sort_values(by=['Air_miles'], ascending=False)
Pass_miles_df.to_csv(r'Pass_miles_df.csv')
Pass_miles_df

                Air_miles
Passenger_id
UES9151GS5    3492.177801
DAZ3029XA0    3305.874609
BWI0520BG6    3272.929994
SPR4484HA6    3127.997972
PUD8209OG3    3096.711990
WYU2010YH8    2976.750206
JJM4724RF7    2686.007603
WBE6935NU3    2600.759909
CKZ3132BR4    2559.797962
HCA3158QA6    2505.947740
EZC9678QI6    2318.899913
YMH6360YP0    2305.502689
CXN7304ER2    2275.876499
LLZ3798PE3    2216.033702
HGO4350KK1    2181.855819
EDV2089LK5    2146.511059
VZY2993ME1    2017.739469
POP2875LH3    1958.895346
XFG5747ZT9    1852.595538
CDC0302NN5    1813.512237
SJD8775RZ4    1766.730060
CYJ0225CH1    1702.732566
JBE2302VO4    1688.189234
WTC9125IE5    1607.344774
MXU9187YC7    1603.482635
KKP5277HZ7    1590.017301
ONL0812DH1    1332.255655
PIT2755XC1     994.707663
IEG9308EA5     978.604491
PAJ3974RK1     891.676812
UMH6360YP0      82.855474

# old code, maybe useful

In [68]:
pass_data_df.value_counts(['From_airport_IATA'])

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [58]:
pass_data_df.groupby(['From_airport_IATA']).count()

,Passenger_id,Flight_id,Dest_airport_IATA,Depart_time_epoch,Flight_time_min
From_airport_IATA,,,,,
AMS,15,15,15,15,15
ATL,36,36,36,36,36
BKK,17,17,17,17,17
CAN,37,37,37,37,37
CDG,21,21,21,21,21
CGK,27,27,27,27,27
CLT,21,21,21,21,21
DEN,46,46,46,46,46
DFW,11,11,11,11,11
FCO,15,15,15,15,15
HND,13,13,13,13,13
IAH,37,37,37,37,37
JFK,25,25,25,25,25
KUL,33,33,33,33,33
LAS,17,17,17,17,17
LHR,25,25,25,25,25
MAD,13,13,13,13,13
MIA,11,11,11,11,11
MUC,14,14,14,14,14
ORD,33,33,33,33,33
PEK,13,13,13,13,13
PVG,20,20,20,20,20

In [54]:
#pass_data_df.set_index(["From_airport_IATA"]).count(level="From_airport_IATA")
pass_data_df.count(axis="From_airport_IATA")

ValueError: No axis named From_airport_IATA for object type <class 'pandas.core.frame.DataFrame'>

In [ ]:
#pd.concat([obj_1_list_df, from_counts_df], keys=['Airport_IATA_code','Airport_IATA_code'])

In [152]:
#pass_data_df['Depart_time_epoch'].dt.strftime("%m/%d/%y")
#pass_data_df['Depart_time_epoch']=
(pd.to_datetime(pass_data_df['Depart_time_epoch'],unit='s'))

0     2015-01-06 17:14:20
1     2015-01-06 17:05:17
2     2015-01-06 17:00:49
3     2015-01-06 17:00:49
4     2015-01-06 17:13:29
              ...
495   2015-01-06 17:26:07
496   2015-01-06 17:22:47
497   2015-01-06 17:26:43
498   2015-01-06 17:05:17
499   2015-01-06 16:59:02
Name: Depart_time_epoch, Length: 500, dtype: datetime64[ns]

In [ ]:
obj1 = obj_1_list_df.merge(from_counts_df, how='outer', on=['Airport_IATA_code', 'Airport_IATA_code'])